
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>飞机订票系统</title>
    <link href="~/Content/images/log.png" type="image/x-icon" rel="shortcut icon" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <!--bootstrap 框架样式表-->
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--后台模板中的字体图标css样式-->
    <link href="~/Content/app-assets/fonts/feather/style.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.min.css" rel="stylesheet" />
    <!--模块"其他"部分的样式表-->
    <link href="~/Content/css/OthersMaintenance.css" rel="stylesheet" />
    <style>
        div{
            font-family: "华文彩云";
        }
        h4{  
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
    </style>
</head>
<body>
    <div class="container-fluid pb-5">
        <h4 class="text-center py-3">用 户 列 表</h4>
        <div class="content py-3">
            @* 用户列表 *@
            <table id="tabUserList" lay-filter="tabUserList"></table>

            <p class="text-muted text-center my-4">中国东方航空·China Eastern Airlines</p>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-outline-primary" onclick="window.history.go(-1);">返回</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modUpdateUser">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改用户信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 col-lg-3">
                                <img src="" id="userPicture" ondblclick="showImageSelectDialog()" style="width: 150px; height: 218px;" />
                            </div>
                            <form id="frmUpdateUser" class="col-md-8 col-lg-9">
                                <input type="reset" hidden />@*表单重置按钮*@
                                <input type="text" name="userID" hidden />@*隐藏域  用户id*@
                                <input type="text" name="userGroupID" hidden />@*隐藏域  用户组id*@
                                <input type="text" name="isEnable" hidden />@*隐藏域  用户是否启用*@
                                @* 隐藏的文件选择框，用于弹出用户头像选择 accept由于筛选图片*@
                                <input type="file" hidden id="userPictureFile" accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp" onchange="loadImgToImg()" />
                                <div class="form-row mt-2 ">
                                    <label for="" class="col-form-label text-right col-3 col-lg-2">用户组号: </label>
                                    <input type="text" class="form-control col-9 col-lg-4" name="userGroup" readonly="readonly">@*只读, 不允许修改用户组*@
                                    <label for="" class="col-form-label text-right col-3 col-lg-2 mt-2 mt-lg-0 mt-2 mt-lg-0">用户角色: </label>
                                    <select class="form-control col-9 col-lg-4 mt-2 mt-lg-0 mt-2 mt-lg-0" name="userTypeID" id="userType"></select>
                                </div>
                                <div class="form-row mt-2 ">
                                    <label class="col-form-label text-right col-3 col-lg-2 ">工号: </label>
                                    <input type="text" class="form-control col-9 col-lg-4 " name="jobNumber">
                                    <label class="col-form-label text-right col-3 col-lg-2 mt-2 mt-lg-0">姓名: </label>
                                    <input type="text" class="form-control col-9 col-lg-4 mt-2 mt-lg-0" name="userName">
                                </div>
                                <div class="form-row mt-2 ">
                                    <label class="col-form-label text-right col-3 col-lg-2">E-mail: </label>
                                    <input type="text" class="form-control col-9 col-lg-4" name="userEmail" onkeyup="checkEmail(this)">
                                    <label class="col-form-label text-right col-3 col-lg-2 mt-2 mt-lg-0">余额: </label>
                                    <input type="text" class="form-control col-9 col-lg-4 mt-2 mt-lg-0" name="amount" readonly="readonly">
                                </div>
                                <div class="form-row mt-2 ">
                                    <label class="col-form-label text-right col-3 col-lg-2">密码: </label>
                                    <input type="text" class="form-control col-9 col-lg-4" name="userPassword" placeholder="如果不修改密码无需填写">
                                    <label class="col-form-label text-right col-3 col-lg-2 mt-2 mt-lg-0">确认密码: </label>
                                    <input type="text" class="form-control col-9 col-lg-4 mt-2 mt-lg-0" name="userPasswordSure" placeholder="如果不修改密码无需填写">
                                </div>
                                <div class="form-row justify-content-center mt-2 ">
                                    <button type="button" class="btn btn-primary btn-block col-4 align-self-center" onclick="updateUser()">确认</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modImportUser">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">导入用户</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <form id="formImportUser">
                            <input type="reset" hidden />@*表单重置按钮*@
                            <div class="row">
                                <div class="col">
                                    <span>1、请先下载模板文件：</span>
                                    <button type="button" class="btn btn-primary btn-sm" onclick="downImportTemplate()">下载</button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <span>2、将需要导入的数据填写到模板中。请不要修改模板的基本格式</span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <span>3、选择填写好数据的excel文件（.xls）:</span>
                                    <input type="file" class="form-control" accept=".xls" id="fileExcel" />
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="uploadExcelFile()">上传</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* layui table toolbar模板  放在script标签中的作用 避免显示在页面 *@
    <script type="text/html" id="toolbarUser">
        <div class="layui-btn-container">
            <buttom class="layui-btn layui-btn-sm" onclick="openImportModal()">导入用户</buttom>
        </div>
    </script>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script>
        var layer, layuiTable;//全局的layui模块
        var tabUserList;//用户table
        $(function () {
            //渲染表格
            layui.use(['layer', 'table'], function () {
                layer = layui.layer;
                layuiTable = layui.table;
                tabUserList = layuiTable.render({
                    elem: '#tabUserList',
                    url: '@Url.Content("~/OthersMaintenance/UserDataMaintain/SelectUserList")',
                    cols: [[
                        { type: 'numbers', title: '序号' },
                        { field: 'userID', title: 'userID', hide: true },
                        { field: 'userTypeID', title: 'userTypeID', hide: true },
                        { field: 'userGroupID', title: 'userGroupID', hide: true },
                        { field: 'userGroupNumber', title: '用户组' },
                        { field: 'userType', title: '角色' },
                        { field: 'jobNumber', title: '工号' },
                        { field: 'userName', title: '姓名' },
                        { field: 'userEmail', title: '邮箱', minWidth:180 },
                        { field: 'accountBalance', title: '余额' },
                        //{ field: 'isEnable', title: '是否启用' },
                        { templet: customUserPicture, title: '头像' },
                        { templet: customIsEnable, title: '是否启用' },
                        { templet: customOp, title: '操作', minWidth: 160, align: 'center' },
                    ]],
                    page: true,//分页
                    toolbar: '#toolbarUser',//设置工具栏的模板
                    defaultToolbar: [],//设置工具条右侧的默认工具按钮 ['filter', 'print', 'exports']
                });
            });
        });
        //用户头像列
        function customUserPicture(rowData) {
            var picture = rowData.picture;
            if (picture != undefined && picture != null && picture != "") {
                return '<button type="button" class="layui-btn layui-btn-xs" onclick="openUserPicture(\'' + picture + '\')">查看</button>';
            } else {
                return "未上传";
            }
        }

        //启用和禁用按钮
        function customIsEnable(rowData) {
            var isEnable = rowData.isEnable;
            //console.log(isEnable)
            if (isEnable) {
                return '<p style="color:green;">已启用</p>'
            } else {
                return '<p style="color:red;">未启用</p>'
            }

        }
        //添加启用禁用按钮和修改删除按钮样式，给禁用和启用按钮添加事件
        function customOp(rowData) {
            var userID = rowData.userID;//用户ID
            var isEnable = rowData.isEnable;
            var strHtml = "";
            //启用 禁用按钮
            if (isEnable) {
                strHtml += '<button type="button" class="layui-btn layui-btn-warm layui-btn-xs" onclick="switchUserEnable(' + userID + ',false)">禁用</button>';
            } else {
                strHtml += '<button type="button" class="layui-btn layui-btn-normal layui-btn-xs" onclick="switchUserEnable(' + userID + ',true)">启用</button>';
            }
            //修改按钮
            strHtml += '<button type="button" class="layui-btn layui-btn-xs" onclick="openUpdateModal(' + userID + ')">修改</button>';
            //删除按钮
            strHtml += '<button type="button" class="layui-btn layui-btn-danger layui-btn-xs" onclick="deleteUser('+userID+')">删除</button>';
            return strHtml;
        }
        //===启用/禁用 用户
        function switchUserEnable(userID, isEnable) {
            var tip = "您确认要" + (isEnable ? "启用" : "禁用") + "该用户吗?";
            layer.confirm(tip, { icon: 3, title: '提示' }, function (index) {
                layer.close(index);
                //打开加载层
                var layerIndex = layer.load();
                //请求
                $.post("@Url.Content("~/OthersMaintenance/UserDataMaintain/SwitchUserEnable")",
                    {
                        userID: userID,
                        isEnable: isEnable,
                    },
                    function (msg) {

                        //关闭加载层
                        layer.close(layerIndex);
                        if (msg.State) {
                            //刷新table
                            tabUserList.reload();

                            layer.alert(msg.Text, { icon: 1 });
                        } else {
                            layer.alert(msg.Text, { icon: 2 });
                        }
                    }
                );

            });

        }
        //打开修改用户的模态框
        function openUpdateModal(userID) {
            //重置表单
            $('#frmUpdateUser [type="reset"]').click();
            //===根据userID查询用户数据并回填表单
            $.post("@Url.Content("~/OthersMaintenance/UserDataMaintain/SelectUserByID")",
                {
                    userID: userID
                }, function (jsonData) {
                    console.log(jsonData)
                    //绑定下拉框
                    @*$.getJSON("@Url.Content("~/OthersMaintenance/UserDataMaintain/SelectUserTypeForSeelct")",
                        function (listData) {
                            var strHtml = "";
                            for (var i = 0; i < listData.length; i++) {
                                $('#frmUpdateUser [name="userTypeID"]').append('<option value="' + listData[i].id + '">' + listData[i].text + '</option>');
                            }

                            //下拉框值的回填
                            $('#frmUpdateUser [name="userTypeID"]').val(jsonData.userTypeID);
                        });*@
                    createSelect('userType', "@Url.Content("~/OthersMaintenance/UserDataMaintain/SelectUserTypeForSeelct")", jsonData.userTypeID);
                    console.log(jsonData);
                    //==回填数据
                    $('#frmUpdateUser [name="userID"]').val(jsonData.userID);
                    $('#frmUpdateUser [name="userGroupID"]').val(jsonData.userGroupID);
                    $('#frmUpdateUser [name="jobNumber"]').val(jsonData.jobNumber);
                    $('#frmUpdateUser [name="userName"]').val(jsonData.userName);
                    $('#frmUpdateUser [name="userEmail"]').val(jsonData.userEmail);
                    $('#frmUpdateUser [name="isEnable"]').val(jsonData.isEnable);
                    $('#frmUpdateUser [name="userGroupNumber"]').val(jsonData.userGroupNumber);
                    $('#frmUpdateUser [name="amount"]').val(jsonData.accountBalance);
                    $('#frmUpdateUser [name="userGroup"]').val(jsonData.userGroupNumber);
                    $('#frmUpdateUser [name="userTypeID"]').val(jsonData.userTypeID);
                    //显示已经上传的图片
                    //图片url
                    var pictureUrl = "@Url.Content("~/Document/userPicture/")" + jsonData.picture;
                    console.log(pictureUrl);
                    $("#userPicture").attr("src", pictureUrl);
                }
            );
            //显示模态框
            $("#modUpdateUser").modal('show');
        }
        function updateUser() {
            var userGroupID = $('#frmUpdateUser [name="userGroupID"]').val();
            var userID = $('#frmUpdateUser [name="userID"]').val();
            var userGroupNumber = $('#frmUpdateUser [name="userGroup"]').val();
            var userTypeID = $('#frmUpdateUser [name="userTypeID"]').val();
            var jobNumber = $('#frmUpdateUser [name="jobNumber"]').val();
            var userName = $('#frmUpdateUser [name="userName"]').val();
            var userEmail = $('#frmUpdateUser [name="userEmail"]').val();
            var amount = $('#frmUpdateUser [name="amount"]').val();
            var userPassword = $('#frmUpdateUser [name="userPassword"]').val();
            var userPasswordSure = $('#frmUpdateUser [name="userPasswordSure"]').val();
            var userPicture = $("#userPictureFile").get(0).files[0];
            if (jobNumber == '' || /^[A-Za-z0-9]{3,10}$/.test(jobNumber) == false) {
                layer.alert("工号不能为空");
                return;
            };
            if (userName == '') {
                layer.alert("用户姓名不能为空");
            }
            var patt = /^([a-zA-Z]|[0-9])(\w|\-)+@@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            if (!patt.test(userEmail)) {
                $("input[name='userEmail']").css("color", "red");
                layer.alert("E-mail格式不正确");
                return;
            }
            if (userTypeID == 0) {
                layer.alert("请选择用户角色");
                return;
            }
            if (userPassword != userPasswordSure && userPassword == '') {
                layer.alert("密码输入不正确");
                return;
            }
            var layerIndex = layer.load();
            //=使用JQuery Ajax发送FormData数据
            //构建FormData数据
            var form = new FormData();
            form.append("userID", userID);
            form.append("userGroupID", userGroupID);
            form.append("userTypeID", userTypeID);
            form.append("jobNumber", jobNumber);
            form.append("userName", userName);
            form.append("userEmail", userEmail);
            form.append("amount", amount);
            form.append("userPassword", userPassword);
            form.append("userPicture", userPicture);
            //=使用JQuery发送FormData数据
            var layerIndex = layer.load();//打开加载层
            //请求
            $.ajax({
                method: "post",//文件上传时只能使用post提交，不能使用get提交
                url: '@Url.Content("~/OthersMaintenance/UserDataMaintain/UpdateUser")',
                data: form,
                processData: false,  // 告诉jQuery不要去处理发送的数据
                contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                success: function (msg) {
                    //关闭加载层
                    layer.close(layerIndex);
                    if (msg.State) {
                        //刷新table
                        tabUserList.reload();
                        //成功
                        layer.alert(msg.Text, { icon: 1 });
                        //关闭模态框
                        $("#modUpdateUser").modal('hide');
                        $("#userPicture").attr("src", "");//清空图片的预览
                    } else {
                        //失败
                        layer.alert(msg.Text, { icon: 2 });
                    }
                }
            });
        }

        function deleteUser(userID) {
            layer.confirm("您确认要删除该用户吗?", { icon: 3, title: '提示' },
                function (index) {
                    layer.close(index);
                    var layerIndex = layer.load();//打开加载层
                    //请求
                    $.post("@Url.Content("~/OthersMaintenance/UserDataMaintain/DeleteUser")",
                        {
                            userID: userID
                        }, function (msg) {
                            layer.close(layerIndex);//关闭加载层
                            if (msg.State) {
                                layer.alert(msg.Text, { icon: 1 });
                                //刷新表格
                                tabUserList.reload({
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            } else {
                                layer.alert(msg.Text, { icon: 2 });
                            }
                        }
                    );
                }
            );
        }
        //查看图片弹窗
        function openUserPicture(picture) {
            //图片url
            var pictureUrl = "@Url.Content("~/Document/userPicture/")" + picture;
            //图片元素
            var img = '<img src="' + pictureUrl + '" style="max-width: 300px;max-height: 300px;">';
            //使用layer显示图片
            layer.open({
                type: 1,//页面层
                title: false,//关闭标题
                closeBtn: 0,//不显示关闭按钮
                shadeClose: true,//点击遮罩层关闭弹窗
                content:img//弹窗显示内容
            });
        }

        //======图片上传===========
        //文件读取器
        var imageReader = new FileReader();
        //图片文件 正则表达式过滤image/jpeg,image/png,image/jpg,image/gif,image/bmp
        regexImageFilter = /^(?:image\/bmp|image\/gif|image\/jpg|image\/jpeg|image\/png)$/i;

        //文件读取器onload事件 在读取文件完成后触发
        imageReader.onload = function (evt) {
            console.log(evt);
            $("#userPicture").attr("src", evt.target.result);
        }

        //双击图片 触发 文件输入框的点击事件
        function showImageSelectDialog() {
            $("#userPictureFile").click();
        }
        //文件输入框改变事件，改变时读取图片
        function loadImgToImg() {
            //获取文件输入框里面的文件
            var file = $("#userPictureFile").get(0).files[0];
            //判断读取的文件是否是需要的文件类型
            console.log(file.type);
            if (regexImageFilter.test(file.type)) {
                //使用文件读取器读取文件。并把文件转为URL(Base64编码)
                imageReader.readAsDataURL(file);
            } else {
                alert("选择的不是一个有效的图片文件");
            }
        }
        //导入按钮显示模态框
        function openImportModal() {
            $('#formImportUser [type="reset"]').click();//重置表单
            $("#modImportUser").modal('show');//显示模态框
        }
        //点击下载按钮打开下载方法
        function downImportTemplate() {
            window.open("@Url.Content("~/OthersMaintenance/UserDataMaintain/DownImportTemplate")");
        }

        //发送数据到服务器
        function uploadExcelFile() {
            //获取文件
            var files = document.getElementById("fileExcel").files;
            //判断文件是否存在,因为获取的是个数组所以判断它是否大于0
            if (files.length > 0) {
                //获取文件,因为是数组可能存在多个文件
                var excelFile = files[0];//获取第一个文件
                //创建FormData对象
                var formData = new FormData();
                //构建需要发送的数据
                formData.append("excelFile", excelFile);
                
                var layerIndex = layer.load();//打开加载层

                //创建XMLHttpRequest对象
                var xhr = new XMLHttpRequest();
                //打开指定的URL 文件上传使用POST提交
                xhr.open("POST", "@Url.Content("~/OthersMaintenance/UserDataMaintain/ImportExcel")");
                //发送后的回调
                xhr.send(formData);
                xhr.onload = function (data) {
                    var msg = JSON.parse(data.currentTarget.responseText);//把返回的字符串反序列化为json对象
                    //关闭加载层
                    layer.load(layerIndex);
                    if (msg.State) {
                        layer.alert(msg.Text, { icon: 1 });
                        $("#modImportUser").modal('hide');//关闭模态框
                        //刷新表格
                        tabUserList.reload({
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });
                    } else {
                        layer.alert(msg.Text, { icon: 2 });
                    }

                };
                //要发送的数据
                xhr.send(formData);
                } else {
                alert("请选择要上传的Excel（.xls）文件");
            }
        }
    </script>
</body>
</html>
