
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>飞机订票系统</title>
    <link href="~/Content/images/log.png" type="image/x-icon" rel="shortcut icon" />
    <!--bootstrap 框架样式表-->
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--模块"其他"部分的样式表-->
    <link href="~/Content/css/OthersMaintenance.css" rel="stylesheet" />
    <style>
        div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
    </style>
</head>
<body>
    <div class="container-fluid pb-5">
        <h4 class="text-center py-3">开 通 工 号</h4>
        <div class="content py-3">
            <form method="post" id="frmUser" onsubmit="return false;">
                <div class="card border-0">
                    <div class="card-header">
                        工号资料
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td>用户组号 <b class="text-danger">*</b></td>
                                <td>
                                    <select class="form-control" id="cboUserGroup" name="userGroupID"></select>
                                </td>
                                <td>工 号<b class="text-danger">*</b></td>
                                <td><input type="text" class="form-control" name="jobNumber" value="" /></td>
                            </tr>
                            <tr>
                                <td>姓 名<b class="text-danger">*</b></td>
                                <td><input type="text" class="form-control" name="userName" value="" /></td>
                                <td>余 额<b class="text-danger">*</b></td>
                                <td><input type="text" class="form-control" name="amount" onkeyup="checkAmount(this)" /></td>
                            </tr>
                            <tr>
                                <td>密 码<b class="text-danger">*</b></td>
                                <td><input type="password" class="form-control" name="userPassword" value="" /></td>
                                <td>确 认 密 码 <b class="text-danger">*</b> </td>
                                <td><input type="password" class="form-control" name="ensure" value="" /></td>
                            </tr>
                            <tr>
                                <td>E-mail<b class="text-danger">*</b></td>
                                <td>
                                    <input type="text" class="form-control" name="userEmail" onkeyup="checkEmail(this)" />
                                </td>
                                <td>是 否 开 通</td>
                                <td class="text-center"><input type="checkbox" name="isEnable" value="0" /></td>
                            </tr>
                            <tr>
                                <td>角色<b class="text-danger">*</b></td>
                                <td>
                                    <select class="form-control mt-2" id="cboRole" name="userTypeID"></select>
                                </td>
                                <td>头像</td>
                                <td class="text-center">
                                    <img src="" id="userPicture" ondblclick="showImageSelectDialog()" style="max-width: 240px; max-height: 240px;min-width:100px;min-height:100px;border:solid 1px #b7b2b2" />
                                </td>
                            </tr>
                        </table>
                        @* 文件选择控件 隐藏 accept筛选器的作用*@
                        <input type="file" hidden id="userPictureFile" accept="image/jpeg,image/png,image/jpg,image/gif,image/bmp" onchange="loadImgToImg()" />
                    </div>
                </div>
                @*<div class="row role">
                        <div class="col-3">中国东方航空</div>
                        <div class="col-2">角色：</div>
                        <div class="col-3">
                            <select class="form-control mt-2" id="cboRole" name="userTypeID"></select>
                        </div>
                        <div class="col-4">China Eastern Airline</div>
                    </div>*@
                <div class="row mt-5">
                    <div class="col text-center">
                        <button type="reset" class="btn btn-outline-primary mr-4">重置</button>
                        <button type="button" class="btn btn-outline-primary ml-4" onclick="SaveUser()">确认</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script>
        $(function () {
            //绑定下拉框
            //用户组
            createSelect("cboUserGroup", "@Url.Content("~/OthersMaintenance/OpenOffNumber/SelectUserGroupForSelect")");
            //用户角色
            createSelect("cboRole", "@Url.Content("~/OthersMaintenance/OpenOffNumber/SelectUserTypeForSelect")");
            @*$.getJSON("@Url.Content("~/OthersMaintenance/OpenOffNumber/SelectUserGroupForSelect")",
                function (jsondata) {
                    for (var i = 0; i < jsondata.length; i++) {
                        $("#cboUserGroup").append('<option value="' + jsondata[i].userGroupID + '">' + jsondata[i].userGroupNumber + '</option>')
                    }
                }
            )*@
            @*$. getJSON("@Url.Content("~/OthersMaintenance/OpenOffNumber/SelectUserTypeForSelect")",
                function (jsondata) {
                    for (var i = 0; i < jsondata.length; i++) {
                        $("#cboRole").append('<option value="' + jsondata[i].userTypeID + '">' + jsondata[i].userType + '</option>')
                    }
                }
            )*@
            layui.use('layer', function () {
                layer = layui.layer;
            });
        });
        function SaveUser() {
            var userTypeID = $("#frmUser [name='userTypeID']").val();//用户类型/角色ID
            var userName = $("#frmUser [name='userName']").val().trim();//姓名
            var userGroupID = $("#frmUser [name='userGroupID']").val();//用户组ID
            var jobNumber = $("#frmUser [name='jobNumber']").val().trim();//工号
            var userPassword = $("#frmUser [name='userPassword']").val().trim();//用户密码
            var ensure = $("#frmUser [name='ensure']").val().trim();//确认密码
            var userEmail = $("#frmUser [name='userEmail']").val().trim();//邮件
            var amount = $("#frmUser [name='amount']").val().trim();//账号余额
            var isEnable = $("#frmUser [name='isEnable']").is(':checked');//是否开通/启用用户
            var userPicture = $("#userPictureFile").get(0).files[0];//用户头像
            //==验证数据
            //用户组/角色
            if (userTypeID == 0 || userGroupID == 0) {
                layer.alert("请选择用户组/角色");
                return;
            }
            //工号
            if (jobNumber == "" || /^[A-Za-z0-9]{3,10}$/.test(jobNumber) == false) {
                layer.alert("工号由3到10位字母或数字组成,请检查");
                return;
            }

            //用户姓名
            if (userName == "") {
                layer.alert("请输入姓名");
                return;
            }
            //余额
            if (amount == "" || isNaN(amount)) {
                layer.alert("请输入账户余额");
                return;
            }

            //密码
            if (userPassword == "") {
                layer.alert("请输入密码");
                return;
            }
            //确认密码
            if (userPassword != ensure) {
                layer.alert("密码不一致");
                return;
            }
            //邮箱
            var patt = /^([a-zA-Z]|[0-9])(\w|\-)+@@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
            if (!patt.test(userEmail)) {
                $("input[name='userEmail']").css("color", "red");
                layer.alert("E-mail格式不正确");
                return false;
            }
            //===发送请求
            //=使用JQuery Ajax发送FormData数据
            //构建FormData数据
            var form = new FormData();
            form.append("userTypeID", userTypeID);
            form.append("userName", userName);
            form.append("userGroupID", userGroupID);
            form.append("jobNumber", jobNumber);
            form.append("userPassword", userPassword);
            form.append("userEmail", userEmail);
            form.append("amount", amount);
            form.append("isEnable", isEnable);
            form.append("userPicture", userPicture);
            var layerIndex = layer.load();//打开加载层
            $.ajax({
                method: "post",
                url: '@Url.Content("~/OthersMaintenance/OpenOffNumber/InsertUser")',
                data: form,
                processData: false,  // 告诉jQuery不要去处理发送的数据，因为我已经处理好了
                contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                success: function (msg) {
                    //关闭加载层
                    layer.close(layerIndex);
                    if (msg.State) {
                        //成功
                        layer.alert(msg.Text, { icon: 1 });
                        $("#userPicture").attr("src", "");//清空图片的预览
                        $("#frmUser [type='reset']").click();//清空表单
                    } else {
                        //失败
                        layer.alert(msg.Text, { icon: 2 });
                    }
                }
            })
        }
            //数据限制验证部分
        function checkAmount(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, "");//清除数字和以外的字符,([\d]代表的是数字0-9),（/g是搜索全局把不是数字的都替换成""空的字符串）
            obj.value = obj.value.replace(/^\./g, "");//验证第一个字符是数字而不是字符串
            //obj.value = obj.value.replace(/\.{2,}/g, ".");//保留第一个.其他的都清除
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".")
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3'); //只能输入两个小数
        }
        //对密码的验证，判断密码是否一致
        $("#frmUser input[name='ensure']").blur(function () {
            var userPassword = $("#frmUser input[name='userPassword']").val().trim();//获取密码
            var ensure = $("#frmUser input[name='ensure']").val().trim();//获取确认密码
            if (userPassword != ensure) {
                layer.alert("密码不一致");
            }
        });
        //对邮箱号进行验证
        //对输入的邮箱号进行校验处理
        function checkEmail(input) {
            var email = input.value;
            var patt = /^([a-zA-Z]|[0-9])(\w|\-)+@@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;//邮箱验证正则表达式
            if (patt.test(email)) {//验证邮箱是否符合规范
                $("input[name='userEmail']").css("color", "#000");
            } else {
                $("input[name='userEmail']").css("color", "red");
            }
        }
        //============图片上传==========
        //文件读取器
        //1
        var imageReader = new FileReader();//FileReader是js提供的一个方法,读取文件
        //图片文件 正则表达式过滤image/jpeg,image/png,image/jpg,image/gif,image/bmp
        //2
        regexImageFilter = /^(?:image\/bmp|image\/gif|image\/jpg|image\/jpeg|image\/png)$/i;
        //文件读取器onload事件 在读取文件完成后触发,获取到URL(Base64编码)图片
        //5
        imageReader.onload = function (evt) {
            console.log(evt);
            $("#userPicture").attr("src", evt.target.result);//获取到文件目标结果路径
        }
        //3
        function showImageSelectDialog() {
            //双击图片 触发 文件输入框的点击事件
            $("#userPictureFile").click();
        };
        //4
        function loadImgToImg() {
            //获取文件输入框里面的文件
            //4.1
            var file = $("#userPictureFile").get(0).files[0];
            console.log(file.type);
            //4.2
            if (regexImageFilter.test(file.type)) {
                //使用文件读取器读取文件。并把文件转为URL(Base64编码),然后联动文件读取器onload事件,获取到转换后的图片编码
                imageReader.readAsDataURL(file);
            } else {
                alert("选择的不是一个有效的图片文件");
            }            
        }
    </script>
</body>
</html>
