@using FJDPXT.EntityClass
@{
    Layout = null;
    ETicketVo ticketInfor = ViewBag.ticketInfor;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PNR显示</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.css" rel="stylesheet">
    <link href="~/Content/css/ElectronicsTicket.css" rel="stylesheet" />
    <style>
        .myContent > div {
            height: 50px;
            border: 1px solid;
            text-align: center;
            font-size: 12px;
            overflow: hidden;
        }
        /*网页打印下的样式 用于隐藏一些不用打印的元素*/
        @@media print {
            .no-print {
                display: none;
            }

            .show-print {
                display: inline-block;
            }
        }
    </style>
</head>
<body>
    <!--页面内容-->
    <div class="container pb-5">
        <h4 class="text-center py-3">票证查询结果</h4>
        <div class="content p-3">
            <!--操作栏-->
            <div class="row mt-3" id="btnS">
                <div class="col-12">
                    <div class="form-group">
                        <label class="col-form-label">票证操作：</label>
                        <button type="button" class="btn btn-outline-primary mr-1" onclick="printChange()">打印换开</button>
                        <button type="button" class="btn btn-outline-success mr-1" onclick="flightChange()">ET航班更改</button>
                        <button type="button" class="btn btn-outline-danger mr-1" onclick="Void()">作废</button>
                        <button type="button" class="btn btn-outline-danger mr-1" onclick="refund()">退票</button>
                        <button type="button" class="btn btn-outline-danger mr-1" onclick="involuntaryRefund()">非自愿退票</button>
                        <button type="button" class="btn btn-outline-success mr-1" onclick="involuntaryChange()">非自愿更改</button>
                        <button type="button" class="btn btn-outline-warning mr-1" onclick="T4Print()">T4联打印</button>
                        <button type="button" class="btn btn-primary mr-1" onclick="back()">返回</button>
                    </div>
                </div>
            </div>
            <!--隐藏域-->
            <div class="hide">
                <!--1.2 ET航班更改 / 非自愿更改（使用）-->
                <input type="hidden" id="ETPNRID" value="@ticketInfor.PNRID" />
                <input type="hidden" id="ETPNRNo" value="" />
                <input type="hidden" id="PNRSegmentID" value="@ticketInfor.PNRSegmentID" /><!--航段ID-->
                <input type="hidden" id="PNRTicketingID" value="@ticketInfor.PNRTicketingID" /><!--出票组ID-->
            </div>
            <!--.col- 针对所有设备-->
            <div class="row mt-3 myContent">
                <!--第一行-->
                <div class="col-1" style="border-bottom:none;">填开单位:<br> ISSUED BY</div>
                <div class="col-2" style="border-bottom:none; border-left:none; font-weight: bolder;">中国东方航空公司<br>CHINA EASTERN AIRLINES</div>
                <div class="col-2" style="border-bottom:none; border-left:none; line-height:48px;">客票</div>
                <div class="col-4" style="border-bottom:none; border-left:none;">始发地/目的地:<br>ORIGIN/DESTINATION</div>
                <div class="col-3" style="border-bottom:none; border-left:none;">出票日期和地点:<br>DETE AND PLACE ISSUE</div>

                <!--第二行-->
                <div class="col-3" style="border-bottom:none;">签注<br>RESTRICTION/ENDORSEMENTS（CARBON）</div>
                <div class="col-2" style="border-bottom:none; border-left:none; border-top:none;">PASSENGER TICKET</div>
                <div class="col-4" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">@ticketInfor.orangeCity 至 @ticketInfor.destinationCity</div>
                <div class="col-3" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;" id="dTimeAndStation">@ticketInfor.TicketingTime / @ticketInfor.orangeName</div>

                <!--第三行-->
                <div class="col-3" style="border-bottom:none;">旅客姓名（不得转让）<br>NAME OF PASSENGER NOT TRANSFERABLE</div>
                <div class="col-2" style="border-bottom:none; border-left:none;">旅客编号<br />LVKE BIANHAO</div>
                <div class="col-2" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">@ticketInfor.passengerNo</div>
                <div class="col-2" style="border-bottom:none; border-left:none;">换开凭证<br>ISSUED IN EXCHANGE FDR</div>
                <div class="col-3" style="border-bottom:none; border-left:none;">营业员<br>AGENT </div>

                <!--第四行-->
                <div class="col-3" style="border-bottom:none; line-height:48px;font-weight: bolder;">@ticketInfor.passengerName</div>
                <div class="col-2" style="border-bottom:none; border-left:none;">连续客票<br>CONJUNCTTON TTCKET(S)</div>
                <div class="col-2" style="border-bottom:none; border-left:none;"></div>
                <div class="col-2" style="border-bottom:none; border-left:none;"></div>
                <div class="col-3" style="border-bottom:none; border-left:none;line-height:48px; font-weight: bolder;">@ticketInfor.userName</div>

                <!--第五行-->
                <div class="col-2" style="border-bottom:none;background-color:#EFEFEF;">仅在票面上所列航班作为运输使用</div>
                <div class="col-1" style="border-bottom:none; border-left:none;line-height:48px;background-color:#EFEFEF;">承运人</div>
                <div class="col-1" style="border-bottom:none; border-left:none;line-height:48px;background-color:#EFEFEF;">航班号</div>
                <div class="col-1" style="border-bottom:none; border-left:none;line-height:48px;background-color:#EFEFEF;">座位等级</div>
                <div class="col-1" style="border-bottom:none; border-left:none;line-height:48px;background-color:#EFEFEF;">日期时间</div>
                <div class="col-1" style="border-bottom:none; border-left:none;line-height:48px;background-color:#EFEFEF;">订座情况</div>
                <div class="col-1" style="border-bottom:none; border-left:none;background-color:#EFEFEF;">票价级别/<br /> 客票类别</div>
                <div class="col-2" style="border-bottom:none; border-left:none;line-height:48px;background-color:#EFEFEF;">客票生效日期</div>
                <div class="col-1" style="border-bottom:none; border-left:none;background-color:#EFEFEF;">有效截止日期</div>
                <div class="col-1" style="border-bottom:none; border-left:none;line-height:48px;background-color:#EFEFEF;">免费行李额</div>


                <div class="col-2" style="border-bottom:none; border-top:none;background-color:#EFEFEF;">GOOD FOR PASSAGE  POINTSOUTLINED</div>
                <div class="col-1" style="border-bottom:none; border-left:none; border-top:none;background-color:#EFEFEF;">CARRIER</div>
                <div class="col-1" style="border-bottom:none; border-left:none; border-top:none;background-color:#EFEFEF;">FLIGHT</div>
                <div class="col-1" style="border-bottom:none; border-left:none; border-top:none;background-color:#EFEFEF;">CLASS</div>
                <div class="col-1" style="border-bottom:none; border-left:none; border-top:none;background-color:#EFEFEF;">DATETIME</div>
                <div class="col-1" style="border-bottom:none; border-left:none; border-top:none;background-color:#EFEFEF;">STATUS</div>
                <div class="col-1" style="border-bottom:none; border-left:none; border-top:none;background-color:#EFEFEF;">FARE BASIS<br />DESIGNATOR</div>
                <div class="col-2" style="border-bottom:none; border-left:none; border-top:none;background-color:#EFEFEF;">NOT VALID BEFORE</div>
                <div class="col-1" style="border-bottom:none; border-left:none; border-top:none;background-color:#EFEFEF;">NOT VALID VFTER</div>
                <div class="col-1" style="border-bottom:none; border-left:none; border-top:none;background-color:#EFEFEF;">ALIOW</div>

                <!--第六行-->

                <div class="col-2 " style="border-bottom:none;font-weight: bolder;"></div>
                <div class="col-1" style="border-bottom:none; border-left:none; font-weight: bolder;"></div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">@ticketInfor.flightCode</div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">@ticketInfor.cabinTypeName</div>
                <div class="col-1" style="border-bottom:none; border-left:none; font-weight: bolder;">@ticketInfor.flightDateStr @ticketInfor.departureTime</div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">OK</div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">普通</div>
                <div class="col-2" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">@ticketInfor.TicketingTime</div>
                <div class="col-1" style="border-bottom:none; border-left:none; font-weight: bolder;">@ticketInfor.flightDateStr</div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">20KG</div>

                <!--第八行-->
                <div class="col-2" style="border-bottom:none;">自 FROM<br />至 TO</div>
                <div class="col-3" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">@ticketInfor.orangeName 至 @ticketInfor.destinationName</div>
                <div class="col-2" style="border-bottom:none; border-left:none;">票价<br />FARE</div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">@ticketInfor.ticketPrice</div>
                <div class="col-2" style="border-bottom:none; border-left:none;">付款方式<br />FORM OFPAYMENT</div>
                <div class="col-2" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">虚拟支付</div>


                <div class="col-2" style="border-bottom:none;">实付等值货币<br />EQUIV.FARE PD. </div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;" id="payMoney"></div>
                <div class="col-2" style="border-bottom:none; border-left:none; line-height:48px;">票价计算</div>
                <div class="col-7" style="border-bottom:none; border-left:none; line-height:48px;font-weight: bolder;">支付金额 = 总金额 - 代理费（总金额*3%）</div>

                <!--第九行-->
                <div class="col-2" style="border-bottom:none;line-height:48px;">代理费<br />TAX</div>
                <div class="col-1" style="border-bottom:none; border-left:none;line-height:48px;font-weight: bolder;" id="agencyFee"></div>
                <div class="col-1" style="border-bottom:none; border-left:none;line-height:48px;">总数<br />TOTAL</div>
                <div class="col-1" style="border-bottom:none; border-left:none;line-height:48px;font-weight: bolder;">¥@ticketInfor.ticketPrice</div>
                <div class="col-7" style="border-bottom:none; border-left:none;">旅客须知:SUBJECT TO CONDITIONS  OF CONTRACT ON THE ITINERARY<br />以行程单上的合同条款为准</div>

                <!--第十行-->
                <div class="col-1" style="border-bottom:none;background-color:#EFEFEF;">票联<br />CPN</div>
                <div class="col-2 " style="border-bottom:none; border-left:none;background-color:#EFEFEF;">航空公司代号<br />AIRLINE CODE</div>
                <div class="col-2 " style="border-bottom:none; border-left:none;background-color:#EFEFEF;">客票顺序号<br />FORM AND SERIAL NUMBER</div>
                <div class="col-1 " style="border-bottom:none; border-left:none;background-color:#EFEFEF;">检查号<br />CK</div>
                <div class="col-1 " style="border-bottom:none; border-left:none;background-color:#EFEFEF;">原出票ORIGINAL ISSUE</div>
                <div class="col-1 " style="border-bottom:none; border-left:none;background-color:#EFEFEF;">凭证号DOCUMENT NUMBER</div>
                <div class="col-1 " style="border-bottom:none; border-left:none;background-color:#EFEFEF;">地点<br />PLACE</div>
                <div class="col-1 " style="border-bottom:none; border-left:none;background-color:#EFEFEF;">日期<br />DATE</div>
                <div class="col-2 " style="border-bottom:none; border-left:none;background-color:#EFEFEF;">营业员号<br />AGENT'S NUMERICCODE</div>

                <div class="col-1" style="border-bottom:none;line-height:48px;font-weight: bolder;">1</div>
                <div class="col-2" style="border-bottom:none; border-left:none; line-height:48px; font-weight: bolder;">CQH</div>
                <div class="col-2" style="border-bottom:none; border-left:none; line-height:48px; font-weight: bolder;">@ticketInfor.passengerNo</div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px; font-weight: bolder;"></div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px; font-weight: bolder;">@ticketInfor.passengerNo</div>
                <div class="col-1" style="border-bottom:none; border-left:none; font-weight: bolder;">@ticketInfor.ticketNo</div>
                <div class="col-1" style="border-bottom:none; border-left:none; line-height:48px; font-weight: bolder;">@ticketInfor.orangeName</div>
                <div class="col-1" style="border-bottom:none; border-left:none; font-weight: bolder;">@ticketInfor.flightDateStr</div>
                <div class="col-2" style="border-bottom:none; border-left:none; line-height:48px; font-weight: bolder;">@ticketInfor.userName</div>

                <!--状态栏-->
                <div class="col-3" style="line-height:48px;background-color:#EFEFEF;">票联状态:</div>
                <div class="col-3" style="border-left:none;line-height:48px;font-weight: bolder;" id="eTicketStatus">@ticketInfor.eTicketStatus / @ticketInfor.EnglishName</div>
                <div class="col-3" style="border-left:none;line-height:48px;background-color:#EFEFEF;">发票状态:</div>
                <div class="col-3" style="border-left:none;line-height:48px;font-weight: bolder;" id="invoiceStatus">@ticketInfor.invoiceStatus</div>
            </div>
        </div>
    </div>
    <!--打印换开（模态框）-->
    <div class="modal fade" id="modPrintChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                @*模态框头部*@
                <div class="modal-header">
                    <h5 class="modal-title">打印换开</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                @*模态框内容*@
                <div class="modal-body">
                    <form id="formPrintChange" class="form-horizontal" onsubmit="return false;">
                        <!--重置表单-->
                        <input type="reset" hidden />
                        <div class="form-group row p-1">
                            <label class="col-5 col-form-label text-right">换开本票票号：E781-</label>
                            <input type="text" class="form-control col-5" id="newTicketNo" name="newTicketNo" value="" />
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 text-center">
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-outline-primary mr-2" onclick="doPrintChange()">确认</button>
                                    <button type="button" class="btn btn-outline-secondary ml-2" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--退票 / 非自愿退票（模态框）-->
    <div class="modal fade" id="modRefund" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                @*模态框头部*@
                <div class="modal-header">
                    <h5 class="modal-title">退票</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                @*模态框内容*@
                <div class="modal-body">
                    <form id="formRefund" class="form-horizontal" onsubmit="return false;">
                        <!--重置表单-->
                        <input type="reset" hidden />
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">货币单位：</label>
                            <label class="col-5 col-form-label text-left" id="DW">CNY（¥）</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">票面价格：</label>
                            <label class="col-5 col-form-label text-left" id="RPrice">@ticketInfor.ticketPrice</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">退款金额 ：</label>
                            <input type="text" class="form-control col-4" id="refundMoney" readonly />
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">代理费 ：</label>
                            <input type="text" class="form-control col-4" readonly id="refundAgencyFee" />
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">实退金额 ：</label>
                            <input type="text" class="form-control col-4" readonly id="actualRefunfMoney" />
                        </div>
                        <div class="form-group row" id="DivInvoluntaryRefund">
                            <label class="col-5 col-form-label text-right">退票原因 ：</label>
                            <input type="text" class="form-control col-4" id="rChangeReason" />
                            <input type="hidden" id="isVoluntary" value="" />
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 text-center">
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-outline-primary mr-2" onclick="doRefund()">退票</button>
                                    <button type="button" class="btn btn-outline-secondary ml-2" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--作废（模态框）-->
    <div class="modal fade" id="modInvalid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                @*模态框头部*@
                <div class="modal-header">
                    <h5 class="modal-title">作废</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                @*模态框内容*@
                <div class="modal-body">
                    <form id="formInvalid" class="form-horizontal" onsubmit="return false;">
                        <!--重置表单-->
                        <input type="reset" hidden />
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">货币单位：</label>
                            <label class="col-5 col-form-label text-left" id="DW">CNY（¥）</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">支付金额：</label>
                            <input type="text" class="form-control col-4" readonly id="IPrice" value="@ticketInfor.ticketPrice" />
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">代理费 ：</label>
                            <input type="text" class="form-control col-4" readonly id="decAgencyFee" />
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">实退金额 ：</label>
                            <input type="text" class="form-control col-4" readonly id="IactualRefunfMoney" />
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label text-right">作废单号 ：</label>
                            <input type="text" class="form-control col-4 aj1" readonly id="InvalidCode" value=""/>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 text-center">
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-outline-primary mr-2" onclick=" doVoid()">作废</button>
                                    <button type="button" class="btn btn-outline-secondary ml-2" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script>
        var layer;//加载layer模块
        var ticketPrice = @ticketInfor.ticketPrice;//获取票价计算支付金额时使用
        var eTicketID = @ticketInfor.ETicketID;//获取票号信息，拼接票号
        var ETicketStatus = "";//票联状态
        var InvoiceStatus = "";//发票状态
        var ticketNo = "@ticketInfor.ticketNo"; 
        var InvalidCode = "@ViewBag.InvalidCode";        
        $(function () {
            layui.use(['layer'],function(){
                layer = layui.layer;
            });

            //计算代理费
            var agencyFee = ticketPrice*0.03;
            $("#agencyFee").html("¥"+agencyFee.toFixed(2));//保留两位小数
            //支付金额
            var payMoney = ticketPrice-agencyFee;
            $("#payMoney").html("¥"+payMoney.toFixed(2));//保留两位小数
            //获取票联状态
            ETicketStatus = $("#eTicketStatus").text().trim();
            //发票状态
            InvoiceStatus = $("#invoiceStatus").text().trim();

        });

        //=============T4打印==========================
        //作用使发票状态改为已开发票
        function T4Print(){
            if(InvoiceStatus=="未开发票"){
                //打开加载层
                var layerIndex = layer.load();
                $.post("doPrint",{eTicketID:eTicketID},function(msg){
                    layer.close(layerIndex);
                    if(msg.State){
                        //隐藏操作按钮
                        $("#btnS").addClass("no-print");//网页打印去除
                        window.print();//调用打印功能
                        location.reload();
                    }else{
                        myAlert(msg.Text);
                    }
                });
            }else{
                myAlert("只有未开发票的票证才可做T4打印的操作");
            }
        }

        //=======================打印换开==================
        function printChange(){
            if(ETicketStatus == "可供使用 / OPEN FOR USE"&&InvoiceStatus=="已开发票"){
                //重置表单
                $("#formPrintChange input[type = 'reset']").click();
                ticketNo = ticketNo.replace("E781-","");
                //弹出模态框
                $("#modPrintChange").modal("show");
                //绑定票号
                $("#newTicketNo").val(ticketNo).prop("disabled",true);
            }else{
                myAlert("只有可使用并且已开发票的票证才可打印换开，该票不满足换开条件");
            }
        }
        //确认打印换开按钮点击事件
        function doPrintChange(){
            //开启加载层
            var layerIndex = layer.load();
            $.post("doPrintChange",{eTicketID:eTicketID},function(msg){
                layer.close(layerIndex);

                if (msg.State) {
                    myAlert("换开成功，新的票号为【"+msg.Object +"】");
                    location.reload();
                }else{
                    myAlert(msg.Text);
                }
            });
        }

        //=====================ET航班更改==================
        //
        function flightChange(){
            if(ETicketStatus=="可供使用 / OPEN FOR USE"&&InvoiceStatus=="未开发票"){
                var PNRID = $("#ETPNRID").val();//获取PNRID
                var PNRSegmentID = $("#PNRSegmentID").val();//获取航段ID
                var PNRTicketingID = $("#PNRTicketingID").val();//获取出票ID                
                var changeData = {
                    PNRID:PNRID,//PNRID
                    eTicketID:eTicketID,//电子票号ID
                    PNRSegmentID:PNRSegmentID,//航段ID
                    PNRTicketingID:PNRTicketingID,//出票组ID
                    voluntaryType: 1,//是否自愿更改：1-自愿；2-非自愿
                }
                sessionStorage.setItem("changeData",JSON.stringify(changeData));
                sessionStorage.setItem("ETChangeFlight","true");
                window.location.href="/PNR/PNRAppointment/Index";
            }else{
                myAlert("只有可使用并且未开发票的票证才可更改航班，该票不满足更改条件");
            }
        }
        //废票乘客不按计划乘坐航班，是需在订票当天和航班起飞之前向代售点或航空公司申请作废的过程
        //====================作废==========
        function Void(){
            //只有当票联状态为“可供使用 / OPEN FOR USE”以及发票状态为“未开发票”是才可执行作废的操作
            if(ETicketStatus=="可供使用 / OPEN FOR USE"&&InvoiceStatus=="未开发票"){
                //重置表单
                $("#formInvalid input[type='reset']").click();
                //计算代理费
                var decAgencyFee = ticketPrice*0.03;
                //绑定数据
                $("#decAgencyFee").val(decAgencyFee.toFixed(2));
                //实退金额
                var IactualRefunfMoney = ticketPrice-decAgencyFee;
                $("#IactualRefunfMoney").val(IactualRefunfMoney);
                $("#InvalidCode").val(InvalidCode);
                //弹出模态框
                $("#modInvalid").modal("show");

            }else{
                myAlert("只有可使用并且未开发票的票证才可作废，该票不满足作废条件");
            }
        }
        function  doVoid(){
            //获取模态框页面数据
            var Iprice = $("#IPrice").val();//支付金额
            var decAgencyFee = $("#decAgencyFee").val();//代理费
            var decActualRefunfMoney = $("#IactualRefunfMoney").val();//实退金额
            var strInvalidCode = $("#InvalidCode").val();//作废单号

            if(parseFloat(decActualRefunfMoney)<parseFloat(Iprice)){
                //提交请求
                layerIndex = layer.load();
                $.post("Invalid",{
                    eTicketID:eTicketID,
                    Iprice:Iprice,
                    decAgencyFee:decAgencyFee,
                    decActualRefunfMoney:decActualRefunfMoney,
                    strInvalidCode:strInvalidCode
                },function(msg){
                    //关闭模态框
                    $("#modInvalid").modal("hide");
                    //关闭加载层
                    layer.close(layerIndex);
                    myAlert(msg.Text);
                    if(msg.State){
                        //刷新当前页面
                        location.reload();
                    }
                });
            }else{
                myAlert("实退金额不能比票面金额大！");
            }
        }

        //=======================================退票
        function refund(){
            if(ETicketStatus=="可供使用 / OPEN FOR USE"&&InvoiceStatus=="未开发票"){
                //重置表单
                $('#formRefund input[typr="reset"]').click();
                //退款金额
                $("#refundMoney").val(ticketPrice.toFixed(2));
                //计算代理费
                var refundAgencyFee = ticketPrice*0.03;
                $("#refundAgencyFee").val(refundAgencyFee.toFixed(2));
                //实退金额
                var refunds = ticketPrice-refundAgencyFee;
                $("#actualRefunfMoney").val(refunds.toFixed(2));
                //设置为自愿退票
                $("#isVoluntary").val(1);
                //隐藏退票原因
                $("#DivInvoluntaryRefund").addClass("d-none");
                //弹出模态框
                $("#modRefund").modal("show");
            }else{
                myAlert("只有可使用并且未开发票的票证才可退票，该票不满足退票条件");
            }
        }
        //退票按钮点击事件
        function doRefund(){
            var decRefundMoney = $("#refundMoney").val();//退款金额
            var decRefundAgencyFee =$("#refundAgencyFee").val();//代理费
            var decActualRefunfMoney =$("#actualRefunfMoney").val();//实退金额
            var strChangeReason = $("#rChangeReason").val();//退票原因
            var isVoluntary = $("#isVoluntary").val();//是否自愿退票

            //如果当前为非自愿退票，退票原因不允许为空
            if(isVoluntary==2&&strChangeReason==""){
                myAlert("请填写退票原因！");
                return;
            }
            //提交请求
            layerIndex = layer.load();
            $.post("@Url.Content("~/ElectronicsTicket/TicketModify/Refund")",{
                eTicketID:eTicketID,
                decRefundMoney:decRefundMoney,
                decRefundAgencyFee:decRefundAgencyFee,
                decActualRefunfMoney:decActualRefunfMoney,
                isVoluntary:isVoluntary,
                strChangeReason:strChangeReason
            },function(msg){
                //关闭模态框
                $("#modRefund").modal("hide");
                //关闭加载层
                layer.close(layerIndex);
                //输出
                myAlert(msg.Text);
                if(msg.State){
                    //刷新当前页面
                    location.reload();
                }
            });
        }
        //=========================非自愿退票
        function involuntaryRefund(){
            if(ETicketStatus=="可供使用 / OPEN FOR USE"&&InvoiceStatus=="未开发票"){
                //重置表单
                $('#formRefund input[type="reset"]').click();
                //回填退款金额
                $("#refundMoney").val(ticketPrice.toFixed(2));
                //回填代理费
                var refundAgencyFee = 0
                $("#refundAgencyFee").val(refundAgencyFee);
                //回填实退金额
                var refunds = ticketPrice - refundAgencyFee;
                $("#actualRefunfMoney").val(refunds.toFixed(2));
                //设置为自愿退票
                $("#isVoluntary").val(2);
                //弹出模态框
                $("#modRefund").modal("show");
            }else{
                myAlert("只有可使用并且未开发票的票证才可退票，该票不满足退票条件");
            }
        }

        //======================非自愿更改
        function involuntaryChange(){
            if (ETicketStatus=="可供使用 / OPEN FOR USE"&&InvoiceStatus=="未开发票") {
                //获取数据
                var PNRID = $("#ETPNRID").val();
                var PNRSegmentID = $("#PNRSegmentID").val();
                var PNRTicketingID = $("#PNRTicketingID").val();

                //构建航班更改的数据
                var changeData = {
                    PNRID:PNRID,//PNRID
                    eTicketID:eTicketID,//电子票号ID
                    PNRSegmentID:PNRSegmentID,//航段ID
                    PNRTicketingID:PNRTicketingID,//出票组ID
                    voluntaryType: 2,//是否自愿更改：1-自愿；2-非自愿
                }
                sessionStorage.setItem("changeData",JSON.stringify(changeData));
                sessionStorage.setItem("ETChangeFlight","true");
                //跳转到PNR预订页面
                window.location.href = "/PNR/PNRAppointment/Index";
            }else{
                myAlert("只有可使用并且未开发票的票证才可更改航班，该票不满足更改条件");
            }
        }


        function back(){
            window.location.replace("@Url.Content("~/ElectronicsTicket/TicketModify/TicketModify")");
        }
    </script>
</body>
</html>
