@using FJDPXT.Models;

@{
    Layout = null;
    List<S_Airport> airports = ViewBag.airports;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <!--bootstrap 框架样式表-->
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--后台模板中的字体图标css样式-->
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.css" rel="stylesheet" />

    <style>
        /* 去除 tab 标题背景和圆角 */
        .nav-pills .nav-link {
            border-bottom: 2px solid #ffffff;
            border-radius: 0px;
        }

            /* 选中tab 标题下划线 */
            .nav-pills .nav-link.active {
                color: #000000;
                background-color: white;
                border-bottom: 2px solid #007bff;
            }
        div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
        /* .laydate_box, .laydate_box * { box-sizing:content-box;} */
    </style>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h2 id="h2Title">PNR预订</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @* 滑动门 /components/navs.html *@
                @*滑动门头部标签部分*@
                <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                    @*单程*@
                    <li class="nav-item">
                        <a class="nav-link active" id="pane-one-way-tab" data-toggle="pill" href="#pane-one-way" role="tab" aria-selected="true">单程</a>
                    </li>
                    @* 往返程 *@
                    <li class="nav-item" id="liRoundTrip">
                        <a class="nav-link" id="pane-round-trip-tab" data-toggle="pill" href="#pane-round-trip" role="tab" aria-selected="false">来回程</a>
                    </li>
                    @* 联程 *@
                    <li class="nav-item" id="liConnectingFlight">
                        <a class="nav-link" id="pane-connecting-flight-tab" data-toggle="pill" href="#pane-connecting-flight" role="tab" aria-selected="false">联程</a>
                    </li>
                </ul>
                @*滑动门内容部分*@
                <div class="tab-content" id="pills-tabContent">
                    @* 单程 *@
                    <div class="tab-pane fade show active" id="pane-one-way" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-8">
                                @*layui-form 标识一个表单元素块为layui的表单，
                                    注意：一旦使用layui-form，如果不加载form模块，select、checkbox、radio等将无法显示，并且无法使用form相关功能*@
                                <form class="layui-form">
                                    <div class="form-row">
                                        <label class="col-6 col-form-label"><i class="icon-plane"></i>&nbsp;&nbsp;航空公司:中国东方航空公司</label>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-up"></i>&nbsp;&nbsp;<b>从</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-8 layui-form-item">
                                            <select name="city1" lay-verify="" lay-search class="form-control ow-airport">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-down"></i>&nbsp;&nbsp;<b>到</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-8 layui-form-item">
                                            <select name="city2" lay-verify="" lay-search class="form-control ow-airport">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-3 col-xl-2 col-form-label"><i class="icon-calendar"></i>&nbsp;&nbsp;出发日期</label>
                                        <div class="col-6 col-xl-4">
                                            <input type="text" class="form-control myLayDate" id="ow-startDate" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center mt-3">
                                        <div class="col-2">
                                            <button type="button" class="btn btn-block btn-primary" id="ow-btnSearch">查询</button>
                                        </div>
                                        <div class="col-2 d-none">
                                            <button type="button" class="btn btn-block btn-primary btnCancelCopy" id="ow-btnSearch">取消复制</button>
                                        </div>
                                        <div class="col-2 d-none">
                                            <button type="button" class="btn btn-block btn-primary btnCancel" id="ow-btnSearch">取消</button>
                                        </div>
                                        <div class="col-2 d-none">
                                            <button type="button" class="btn btn-block btn-primary btnCancelET" id="ow-btnSearch" style="width:150px">取消ET航班更改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    @* 往返程 *@
                    <div class="tab-pane fade" id="pane-round-trip" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row">
                            <div class="col-sm-12 col-md-8 offset-md-2">
                                <form class="layui-form">
                                    <div class="form-row">
                                        <label class="col-6 col-form-label"><i class="icon-plane"></i>&nbsp;&nbsp;航空公司:中国东方航空公司</label>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-up"></i>&nbsp;&nbsp;<b>从</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-8 layui-form-item">
                                            <select name="city" lay-verify="" lay-search class="form-control rt-airport" id="rt-airport1" lay-filter="rt-airport1">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-right"></i>&nbsp;&nbsp;<b>到</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-8 layui-form-item">
                                            <select name="city" lay-verify="" lay-search class="form-control rt-airport">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-down"></i>&nbsp;&nbsp;<b>回</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="readonly" placeholder="城市代码" id="rt-code3" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-8 layui-form-item">
                                            <input type="text" class="form-control" id="rt-airport3" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="col-3 col-xl-2 col-form-label"><i class="icon-calendar"></i>&nbsp;&nbsp;出发日期</label>
                                        <div class="col-9 col-xl-3">
                                            <input type="text" class="form-control myLayDate" id="rt-startDate" />
                                        </div>
                                        <div class="col-12 col-xl-1 m-2 m-xl-0"></div>
                                        <label class="col-3 col-xl-2 col-form-label"><i class="icon-calendar"></i>&nbsp;&nbsp;返回日期</label>
                                        <div class="col-9 col-xl-3">
                                            <input type="text" class="form-control myLayDate" id="rt-returnDate" />
                                        </div>
                                    </div>
                                    <div class="form-row mt-5 justify-content-center">
                                        <div class="col-2">
                                            <button type="button" class="btn btn-block btn-primary" id="rt-btnSearch">查询</button>
                                        </div>
                                        <div class="col-2 d-none">
                                            <button type="button" class="btn btn-block btn-primary btnCancelCopy" id="ow-btnSearch">取消复制</button>
                                        </div>
                                        <div class="col-2 d-none">
                                            <button type="button" class="btn btn-block btn-primary btnCancel" id="ow-btnSearch">取消</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    @* 联程 *@
                    <div class="tab-pane fade" id="pane-connecting-flight" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="row">
                            <div class="col-sm-12 col-md-8 offset-md-2">
                                <form class="layui-form">
                                    <div class="form-row ">
                                        <label class="col-6 col-form-label"><i class="icon-plane"></i>&nbsp;&nbsp;航空公司:中国东方航空公司</label>
                                        <div class="col-6 row justify-content-end">
                                            <button type="button" class="btn btn-sm btn-primary" id="cf-add"><i class="layui-icon layui-icon-add-1"></i></button>
                                            <button type="button" class="btn btn-sm btn-primary ml-1" id="cf-remove"><i class="layui-icon layui-icon-delete"></i></button>
                                        </div>
                                    </div>
                                    <div class="form-row cf-segment mt-3">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-up"></i>&nbsp;&nbsp;<b>从</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-3 layui-form-item">
                                            <select name="city" lay-verify="" lay-search class="form-control cf-airport">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-12 d-xl-none"></div>
                                        <label class="col-3 col-xl-2 col-form-label"><i class="icon-calendar"></i>&nbsp;&nbsp;起飞日期</label>
                                        <div class="col-9 col-xl-3">
                                            <input type="text" class="form-control cf-date myLayDate" id="cf-date1" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="form-row cf-segment mt-3 mt-xl-0">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-right"></i>&nbsp;&nbsp;<b>到</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-3 layui-form-item">
                                            <select name="city" lay-verify="" lay-search class="form-control cf-airport">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-12 d-xl-none"></div>
                                        <label class="col-3 col-xl-2 col-form-label"><i class="icon-calendar"></i>&nbsp;&nbsp;起飞日期</label>
                                        <div class="col-9 col-xl-3">
                                            <input type="text" class="form-control cf-date myLayDate" id="cf-date2" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="form-row cf-segment  mt-3 mt-xl-0">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-right"></i>&nbsp;&nbsp;<b>到</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-3 layui-form-item">
                                            <select name="city" lay-verify="" lay-search class="form-control cf-airport">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-12 d-xl-none"></div>
                                        <label class="col-3 col-xl-2 col-form-label d-none"><i class="icon-calendar"></i>&nbsp;&nbsp;起飞日期</label>
                                        <div class="col-9 col-xl-3 d-none">
                                            <input type="text" class="form-control cf-date myLayDate" id="cf-date3" autocomplete="off"/>
                                        </div>
                                    </div>

                                    <div class="form-row cf-segment d-none  mt-3 mt-xl-0">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-right"></i>&nbsp;&nbsp;<b>到</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-3 layui-form-item">
                                            <select name="city" lay-verify="" lay-search class="form-control cf-airport">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-12 d-xl-none"></div>
                                        <label class="col-3 col-xl-2 col-form-label d-none"><i class="icon-calendar"></i>&nbsp;&nbsp;起飞日期</label>
                                        <div class="col-9 col-xl-3 d-none">
                                            <input type="text" class="form-control cf-date myLayDate" id="cf-date4" autocomplete="on"/>
                                        </div>
                                    </div>


                                    <div class="form-row cf-segment d-none mt-3 mt-xl-0">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-right"></i>&nbsp;&nbsp;<b>到</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-3 layui-form-item">
                                            <select name="city" lay-verify="" lay-search class="form-control cf-airport">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-12 d-xl-none"></div>
                                        <label class="col-3 col-xl-2 col-form-label d-none"><i class="icon-calendar"></i>&nbsp;&nbsp;起飞日期</label>
                                        <div class="col-9 col-xl-3 d-none">
                                            <input type="text" class="form-control cf-date myLayDate" id="cf-date5" autocomplete="off"/>
                                        </div>
                                    </div>


                                    <div class="form-row cf-segment d-none mt-3 mt-xl-0">
                                        <label class="col-1 col-form-label"><i class="icon-arrow-right"></i>&nbsp;&nbsp;<b>到</b></label>
                                        <label class="col-2 col-xl-1 col-form-label">城市：</label>
                                        <div class="col-3 col-lg-2">
                                            <input type="text" class="form-control" readonly="" placeholder="城市代码" />
                                        </div>
                                        <div class="col-6 col-lg-7 col-xl-3 layui-form-item">
                                            <select name="city" lay-verify="" lay-search class="form-control cf-airport">
                                                <option value="0" data-code=""></option>
                                                @foreach (S_Airport airport in airports)
                                                {
                                                    <option value="@airport.airportID" data-code="@airport.airportCode">@(airport.cityName + "[" + airport.airportName + "]")</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row mt-5 justify-content-center" id="cf-btns">
                                        <div class="col-2">
                                            <button type="button" class="btn btn-block btn-primary" id="cf-btnSearch">查询</button>
                                        </div>
                                        <div class="col-2 d-none">
                                            <button type="button" class="btn btn-block btn-primary btnCancelCopy" id="ow-btnSearch">取消复制</button>
                                        </div>
                                        <div class="col-2 d-none">
                                            <button type="button" class="btn btn-block btn-primary btnCancel" id="ow-btnSearch">取消</button>
                                        </div>                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="history_back" />
    <script src="~/Content/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/customfunction.js"></script>

    <script>
        var layuiForm, layer, laydate;//layui的模块
        var dateRegex = /^\d{4}([-/]\d{2}){2}$/;        
        $(function () {           

            //===================PNR复制
            //=================PNR复制====================
            //声明变量
            var isCopy = false;
            //获取PNR复制标志
            var pnrCopy = sessionStorage.getItem("copyPNR");
            if (pnrCopy != null && pnrCopy == "true") {
                $(".btnCancelCopy").parent().removeClass("d-none");
            }

            //取消复制
            $(".btnCancelCopy").click(function () {
                sessionStorage.removeItem("copyPNR");
                window.location.href = "/PNR/PNRQuery/PNRQuery";
            });
            
            //===================添加航段
            //获取添加航段的标志
            var addSegment = sessionStorage.getItem("addSegment");
            var segmentNum = sessionStorage.getItem("addSegment_pnrSegmentNum");
            var add_PNRID = sessionStorage.getItem("addSegment_PNRID");
            if (addSegment!=null&&addSegment=="true") {
                //修改标题
                $("#h2Title").text("添加航段");
                $(".btnCancel").parent().removeClass("d-none");
                $(".btnCancelCopy").parent().addClass("d-none");
                if (segmentNum == 4) {
                    $("#liRoundTrip").addClass("d-none");
                    $("#liConnectingFlight").addClass("d-none");
                }else if (segmentNum >= 5) {
                    myAlert("该PNR已经到达最大值（5段），无法继续添加航段了");
                    window.location.replace("PNR/PNRQuery/PnrInfoShow?PNRID=" + add_PNRID);
                }
            }
            $(".btnCancel").click(function () {
                //移除添加航段的标志
                sessionStorage.removeItem("addSegment");
                window.location.href = "/PNR/PNRQuery/PNRQuery";
            });
            //====================添加航段


            //=====================ET航班更改
            var ETChangeFlight = sessionStorage.getItem("ETChangeFlight");
            var changeData = JSON.parse(sessionStorage.getItem("changeData"));
            if (ETChangeFlight != null && ETChangeFlight == "true") {
                //修改标题
                $("#h2Title").text("ET航班更改");
                //隐藏联程和往返程
                $("#liRoundTrip").addClass("d-none");
                $("#liConnectingFlight").addClass("d-none");
                $(".btnCancelET").parent().removeClass("d-none");
              
            }
            //取消按钮
            $(".btnCancelET").click(function () {
                sessionStorage.removeItem("ETChangeFlight");
                window.location.href = "/ElectronicsTicket/TicketModify/showTicketInfor?ETicketID=" + changeData.eTicketID;
            })
            //======================ET航班更改
            //航段
            layui.use(['form', 'layer', 'laydate'], function () {
                layuiForm = layui.form;//layui.form加载时，就会自动初始化HTML中的layui-form表单
                layer = layui.layer;
                laydate = layui.laydate;
                $('.myLayDate').each(function () {
                    laydate.render({
                        elem: this,//要初始化的元素 ，值为选择器(一般为id选择器，不要使用class选择器，会导致只有第一个可以绑定上)，或DOM对象
                        type: 'date',
                        btns: ['now', 'confirm'],
                        min: 0,//限制不能查询昨天
                        trigger: 'click' //采用click弹出
                    });
                });
                //====layui.form监听select选择 语法 form.on('select(filter)', function(data){})  如果你想监听所有的select，去掉过滤器(filter)即可
                //监听所有下拉框 - 在select元素前的input框显示所选择机场的三字码
                layuiForm.on('select', function (data) {
                    //console.log(data.elem); //得到select原始DOM对象
                    //console.log(data.value); //得到被选中的值
                    //console.log(data.othis); //得到美化后的DOM对象
                    //获取显示机场三字码的input//elem的父元素的前面的兄弟元素的子元素
                    var input = $(data.elem).parent().prev().children().eq(0);
                    //获取选中机场的 三字码
                    var strCode = $(data.elem).children('option[value="' + data.value + '"]').data("code");
                    //将三字码显示在文本框中
                    input.val(strCode);
                });
                //监听 lay-filter="rt-airport1"的下拉框 在往返航班中，选择出发机场后设置最终的返回机场
                layuiForm.on('select(rt-airport1)', function (data) {
                    //获取选择的option,
                    var option = $(data.elem).children('option[value="' + data.value + '"]');
                    //显示返程的城市机场三字码
                    $("#rt-code3").val(option.data("code"));
                    //显示返程的城市机场的名称
                    $("#rt-airport3").val(option.text().trim());
                });
            });
            //============联程部分 添加/移除航段
            $("#cf-add").click(function () {
                var segment = $('.cf-segment');//获取所有航段 不管他是否隐藏
                var hiddenSegment = $('.cf-segment.d-none');//获取被隐藏的航段
                //判断是否还有隐藏状态的form-row
                if (hiddenSegment.length > 0) {
                    //把隐藏航段中的第一个显示出来
                    hiddenSegment.eq(0).removeClass('d-none');
                    //把隐藏的一个日期选择控件 显示出来,segment.length - 1一共有六个但只需要显示五个。
                    segment.eq(segment.length - 1 - hiddenSegment.length).children(':gt(3)').removeClass('d-none');
                } else {
                    myAlert('最多只能添加5个航段');
                }
            });
            $("#cf-remove").click(function () {
                var segment = $('.cf-segment').not(".d-none");//获取联程中所有没有隐藏的form-row
                var hiddenSegment = $('.cf-segment.d-none');//获取被隐藏的航段
                if (hiddenSegment.length < 3) {
                    //隐藏没有被隐藏的最后一个
                    segment.eq(segment.length - 1).addClass('d-none');
                    //隐藏倒数第二个的起飞日期部分
                    segment.eq(segment.length - 2).children(':gt(3)').addClass('d-none');
                } else {
                    myAlert('联程至少有2个航段');
                }
            });


            //查询按钮
            $("#ow-btnSearch").click(function () {                
                var airports = [];//存放获取到的数组数据
                $('.ow-airport').each(function () {
                    var airport = parseInt($(this).val());//获取select标签的值
                    airports.push(airport);//以数组的方式保存
                });
                //日期
                var dates = [];//存放获取到的数组数据
                dates.push($("#ow-startDate").val());//获取日期数据
                //console.log(dates)

                //起飞机场不能为空
                if (airports[0] == undefined || airports[0] == 0) {
                    myAlert("请选择起飞机场");
                    return;
                }
                //起飞机场不能和降落机场相同
                if (airports[0] == airports[1]) {
                    myAlert("起飞机场不能和降落机场一致");
                    return;
                }
                //验证日期
                if (dates[0] == undefined || !dateRegex.test(dates[0])) {
                    myAlert("请选择起飞日期", "提示", 0);
                    return;
                }
                //构建需要传递到航班、舱位选择页面的数据
                var airportAndDate = {
                    flightType: 1,          //类型：1-单程
                    segmentNum: 1,          //航段数
                    airports: airports,     //机场城市id数组
                    dates: dates,            //日期,数组                    
                };
                //将需要传递的数据保存到sessionStorage
                //把对象序列化成文本格式的数据JSON.stringify(airportAndDate)

                sessionStorage.setItem("airportAndDate", JSON.stringify(airportAndDate));//存和修

                //onsole.log(sessionStorage.getItem("airportAndDate"));//取
                //==跳转到 航班、舱位选择页面
                window.location.replace("@Url.Content("~/PNR/PNRAppointment/SelectFlightPage")");
                /*
                 HTML5的WebStorage提供了两种API：localStorage（本地存储）和sessionStorage（会话存储）。
                1、localStorage:localStorage的生命周期是永久的，关闭页面或浏览器之后localStorage中的数据也不会消失。
                localStorage除非主动删除数据，否则数据永远不会消失。
                2、sessionStorage的生命周期是在仅在当前会话下有效。sessionStorage引入了一个“浏览器窗口”的概念
                ，sessionStorage是在同源的窗口中始终存在的数据。只要这个浏览器窗口没有关闭，即使刷新页面或者进入同源另一个页面，数据依然存在。
                但是sessionStorage在关闭了浏览器窗口后就会被销毁。同时独立的打开同一个窗口同一个页面，sessionStorage也是不一样的。
                3、localStorage和sessionStorage只能存储字符串类型，对于复杂的对象可以使用ECMAScript提供的JSON对象的stringify和parse来处理
                4、localStorage和sessionStorage的存储数据大小一般都是：5MB
                5、localStorage和sessionStorage都保存在客户端(浏览器)，不与服务器进行交互通信。

                .setItem(key,value); //用于添加和修改保存的数据 key不存在时为添加,key存在时为修改
                .getItem(key);  //获取指定key的value
                .removeItem(key);//移除指定key的数据

                 */

            });
            //往返程
            $("#rt-btnSearch").click(function () {
                var airports = [];//容器
                $('.rt-airport').each(function () {
                    var airport = parseInt($(this).val());
                    airports.push(airport);
                });
                //第三个机场ID和第一个一样
                airports.push(airports[0]);
                //起飞日期
                var dates = [];
                $('#pane-round-trip .myLayDate').each(function () {
                    dates.push($(this).val());
                });
                //=数据验证
                //起飞机场ID不能为0
                if (airports[0] == undefined || airports[0] == 0) {
                    myAlert("请选择起飞机场", "提示", 0);
                    return;
                }
                //降落机场
                if (airports[1] == undefined || airports[1] == 0) {
                    myAlert("请选择降落机场", "提示", 0);
                    return;
                }
                //起飞机场 不能和降落机场相同
                if (airports[0] == airports[1]) {
                    myAlert("起飞机场和降落机场不能相同", "提示", 0);
                    return;
                }
                // 验证选择的起飞日期
                if (dates[0] == undefined || !dateRegex.test(dates[0])) {
                    myAlert("请选择起飞日期", "提示", 0);
                    return;
                }
                if (dates[1] == undefined || !dateRegex.test(dates[1])) {
                    myAlert("请选择返程日期", "提示", 0);
                    return;
                }
                var starDate = new Date(dates[0]);
                var endDate = new Date(dates[1]);
                if (starDate > endDate) {
                    myAlert("返程日期不能小于出发日期", "提示", 0);
                    return;
                }
                //== 构建需要传递到航班、舱位选择页面的数据
                var airportAndDate = {
                    flightType: 2,          //类型：2-往返程
                    segmentNum: 2,          //航段数
                    airports: airports,     //机场城市id数组
                    dates: dates            //日期,数组
                };

                //将需要传递的数据保存到sessionStorage
                sessionStorage.setItem("airportAndDate", JSON.stringify(airportAndDate));


                console.log(sessionStorage.getItem("airportAndDate"));

                //==跳转到 航班、舱位选择页面
                window.location.replace("@Url.Content("~/PNR/PNRAppointment/SelectFlightPage")");
                
            });
            //联程
            $("#cf-btnSearch").click(function () {
                //查询出未隐藏的航段
                var segment = $('.cf-segment:not(.d-none)');
                //=获取参数
                //起飞和降落机场的ID
                var airports = [];//存放选中的机场ID
                segment.find('.cf-airport').each(function () {
                    var airport = parseInt($(this).val());//获取下拉框选中的值-并转为整数
                    airports.push(airport);
                });

                //获取未隐藏的日期选择控件的值
                var dates = [];
                segment.find('div:not(.d-none) .myLayDate').each(function () {
                    dates.push($(this).val());
                });

                //=数据验证
                //机场ID
                for (var i = 0; i < airports.length; i++) {
                    //机场ID不能为0
                    if (airports[i] == undefined || airports[i] == 0) {
                        myAlert("第" + (i + 1) + "个机场未选择,请选择", "提示", 0);
                        return;
                    }
                    //判断机场Id不能和上一个机场相同
                    if (i > 0 && airports[i] == airports[i - 1]) {
                        myAlert("第" + (i) + "个和第" + (i + 1) + "个机场不能相同,请重新选择", "提示", 0);
                        return;
                    }
                }
                //日期部分遍历
                for (var j = 0; j < dates.length; j++) {
                    if (dates[j] == undefined || !dateRegex.test(dates[j])) {
                        myAlert("请选择第" + (j + 1) + "个起飞日期", "提示", 0);
                        return;
                    }

                    if (j > 0) {
                        //判断返程日期不能小于出发日期
                        var startDate = new Date(dates[j - 1]);
                        var endDate = new Date(dates[j]);
                        if (startDate > endDate) {
                            myAlert("第" + (j) + "个日期不能大于第" + (j + 1) + "个日期,请重新选择", "提示", 0);
                            return;
                        }
                    }
                }

                //== 构建需要传递到航班、舱位选择页面的数据
                var airportAndDate = {
                    flightType: 3,          //类型：3-联程
                    segmentNum: airports.length - 1,          //航段数
                    airports: airports,     //机场城市id数组
                    dates: dates            //日期,数组
                };

                //将需要传递的数据保存到sessionStorage
                sessionStorage.setItem("airportAndDate", JSON.stringify(airportAndDate));

                console.log(sessionStorage.getItem("airportAndDate"));

                //==跳转到 航班、舱位选择页面
                window.location.replace("@Url.Content("~/PNR/PNRAppointment/SelectFlightPage")");
            });
        });
    </script>
</body>
</html>
