@using FJDPXT.EntityClass
@using FJDPXT.Models

@{
    Layout = null;

    //获取页面传递的数据
    PNRvo pnrInfo = ViewBag.pnrInfo;//PNR信息
    List<PassengerVo> passengerInfos = ViewBag.passengerInfos;//PNR旅客信息
    List<FlightCabinInfo> flightCabinInfos = ViewBag.flightCabinInfos;//PNR航段信息
    List<B_PNROtherInfo> pnrOtherInfos = ViewBag.pnrOtherInfos;//PNR其他信息
    List<PNRTicketingVo> pnrTicketings = ViewBag.pnrTicketings;//PNR出票信息

    //全局索引计数
    int globalIndex = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PNR显示</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.css" rel="stylesheet" />

    <style>
        .btn.disabled, .btn:disabled {
            color: #dddddd;
            opacity: .4;
        }
        div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
    </style>
</head>
<body>
    <div class="container mb-4">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h2>PNR显示</h2>
            </div>
        </div>
        @*PNR编号 、 PNR状态*@
        <div class="row justify-content-between">
            <label class="col-8 col-form-label">
                <b>PNR:&nbsp;&nbsp;<span>@pnrInfo.PNRNo</span>&nbsp;&nbsp;(@pnrInfo.strPNRStatus) </b>
            </label>
            <button type="button" class="btn btn-sm btn-primary mb-1" id="btnBack">返回</button>
            <button type="button" class="btn btn-sm btn-primary mb-1 d-none" id="btnBack1">返回票证查询</button>
        </div>
        @*PNR旅客信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>旅客</th>
                    <th>旅客类型</th>
                    <th>证件类型</th>
                    <th>证件号码</th>
                    <th>常旅客号</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PassengerVo passenger in passengerInfos)
                {
                    <tr>
                        <td>@(globalIndex++)</td>  @*序号*@
                        <td>@passenger.passengerName</td>  @*旅客姓名*@
                        <td>@passenger.passengerType</td>  @*旅客类型*@
                        <td>@passenger.certificatesType</td>  @*旅客证件类型*@
                        <td>@passenger.certificatesCode</td>  @*旅客证件号*@
                        <td>@passenger.frequentPassengerNo</td>  @*常旅客号*@
                    </tr>
                }
            </tbody>
        </table>
        @*PNR航段信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>航段号</th>
                    <th>航班号</th>
                    <th>始发地 - 目的地</th>
                    <th>起飞 - 到达</th>
                    <th>日期</th>
                    <th>舱位等级</th>
                    <th>价格(人民币)</th>
                    <th>座位数</th>
                    <th>航段类型</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FlightCabinInfo flightCabinInfo in flightCabinInfos)
                {
                    //将航班起飞时间和降落时间转为字符串  TimeSpan转字符串
                    string strStartTime = flightCabinInfo.departureTime.Value.ToString(@"hh\:mm");
                    string strEndTime = flightCabinInfo.arrivalTime.Value.ToString(@"hh\:mm");
                    //判断降落时间是否已经是第二天
                    bool isNextDay = flightCabinInfo.arrivalTime.Value.TotalMinutes < flightCabinInfo.departureTime.Value.TotalMinutes;

                    <tr>
                        <td>@(globalIndex++)</td>  @*序号*@
                        <td>@flightCabinInfo.segmentNo</td>  @*航段号*@
                        <td>@flightCabinInfo.flightCode</td>  @*航班号*@
                        <td>@flightCabinInfo.orangeCity 到 @flightCabinInfo.destinationCity</td>  @*始发地 到 目的地*@
                        <td>
                            @strStartTime - @strEndTime
                            @if (isNextDay)
                            {
                                @Html.Raw("<sup class=\"text-danger\">+1</sup>");
                            }
                        </td>  @*起飞时间 - 降落时间*@
                        <td>@flightCabinInfo.flightDate.Value.ToString("yyyy-MM-dd")</td>  @*日期*@
                        <td>@flightCabinInfo.cabinTypeCode</td>  @*舱位等级编号*@
                        <td>@flightCabinInfo.cabinPrice</td>  @*价格*@
                        <td>@flightCabinInfo.seatNum</td>  @*订座数*@
                        <td>@flightCabinInfo.segmentTypeStr</td>  @*航段类型*@
                    </tr>
                }
            </tbody>
        </table>
        @*PNR联系组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>联系组信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">@(globalIndex++)</td>
                    <td>@pnrInfo.contactName  @pnrInfo.contactPhone</td> @*联系人姓名 联系人手机/电话*@
                </tr>
            </tbody>
        </table>
        @*PNR其他信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>其他信息</th>
                </tr>
            </thead>
            <tbody>
                @foreach (B_PNROtherInfo pnrOtherInfo in pnrOtherInfos)
                {
                    <tr>
                        <td class="text-center">@(globalIndex++)</td>
                        <td>@pnrOtherInfo.otherInfo.Trim()</td>@*其他信息*@
                    </tr>
                }
            </tbody>
        </table>
        @*PNR出票组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>出票组信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">@(globalIndex++)</td>
                    <td>@pnrInfo.TicketingInfo</td>@*出票组信息*@
                </tr>
                @foreach (PNRTicketingVo pnrTicketing in pnrTicketings)
                {
                    <tr>
                        <td class="text-center">@(globalIndex++)</td>
                        <td>
                            @("OSI MU TKNO " + pnrTicketing.ticketNo.Remove(4, 1) + "/S"
                              + pnrTicketing.segmentNo + "/P" + pnrTicketing.passengerNo)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <script src="~/Content/app-assets/vendors/js/core/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/customfunction.js"></script>

    <script>
        $(function () {
            var getbian = sessionStorage.getItem("gaibian");
            if (getbian != null && getbian == "true") {
                $("#btnBack1").removeClass("d-none");
                $("#btnBack").addClass("d-none");
            }
            $("#btnBack").click(function () {
                window.location.replace("@Url.Content("~/PNR/SelectOrder/SelectOrder")");
            });
            $("#btnBack1").click(function () {
                window.location.replace("@Url.Content("~/ElectronicsTicket/TicketModify/TicketModify")");
            });
            sessionStorage.removeItem("gaibian");
        });
    </script>
</body>
</html>
