@using FJDPXT.Models
@{
    Layout = null;
    //S_模块表
    List<S_Module> listModule = ViewBag.moduleList;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑角色</title>
    <link href="~/Content/images/log.png" type="image/x-icon" rel="shortcut icon" />
    <!--layui 框架样式表-->
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <!--bootstrap 框架样式表-->
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--系统维护样式表-->
    <link href="~/Content/css/SystemMaintenance.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid pb-5">
        <h4 class="text-center py-3">新 增 角 色</h4>
        <div class="content pt-3" id="boxModule">
            <form method="post" class="pt-3" id="frmUserType" autocomplete="off">
                <div class="form-group row">
                    <input type="reset" hidden />
                    <label for="inputEmail3" class="col col-form-label text-right">角色</label>
                    <input type="text" class="form-control col-3" name="userType">
                    <label class="col col-form-label text-right">角色描述：</label>
                    <input type="text" class="form-control col-5" name="description">
                </div>
            </form>

            @*三层 moduleFarID为0的是外层 模块名称*@
            @foreach (S_Module areaItem in listModule)
            {
                if (areaItem.moduleFarID == 0)
                {
                    <div class="card mt-3">
                        <div class="card-header">
                            @areaItem.moduleDescrible
                            @*@item.moduleName*@
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @*第二层才是具体功能模块名称 -- 对应的主要是控制器名称*@
                                @foreach (S_Module controllerItem in listModule)
                                {
                                    if (controllerItem.moduleFarID == areaItem.moduleID)
                                    {
                                        <div class="col-sm-4 col-md-3">
                                            <input type="checkbox" name="@controllerItem.moduleName" value='@controllerItem.moduleID' id="str_@controllerItem.moduleID" />
                                            <label for="str_@controllerItem.moduleID">@controllerItem.moduleDescrible</label>
                                        </div>

                                        @*方法部分 只有PNRCopy*@
                                foreach (S_Module fun in listModule)
                                {
                                    if (fun.moduleFarID == controllerItem.moduleID)
                                    {
                                        <div class="col-sm-4 col-md-3">
                                            <input type="checkbox" name="@fun.moduleName" value='@fun.moduleID' id="str_@fun.moduleID" />
                                            <label for="str_@fun.moduleID">@fun.moduleDescrible</label>
                                        </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            <p class="text-muted text-center my-4">中国东方航空·China Eastern Airlines</p>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-outline-primary mr-2" onclick="InsertPermissionFun()">授 权</button>
                    <button type="button" class="btn btn-outline-secondary ml-2" onclick="btnCancel()">返 回</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script type="text/javascript">
        var layer;
        $(document).ready(function () {
            layui.use('layer', function () {
                layer = layui.layer;//加载layui的 layer模块
            });
        });

        //新增角色
        function InsertPermissionFun()
        {
            //获取页面数据
            var userType = $("#frmUserType input[name='userType']").val();//角色名称
            var description = $("#frmUserType input[name='description']").val();//角色描述
            //判断页面数据不为空
            if (userType != null && userType != "" && description != null && description != "") {
                //数组：记录勾选的模块ID
                var listModuleID = [];
                //获取勾选的input
                var inputs = $("#boxModule input[type='checkbox']:checked");
                //console.log(inputs);
                if (inputs.length > 0) {
                    for (var i = 0; i < inputs.length; i++) {
                        //var e = new ModuleID();
                        //e.moduleID = inputs[i].value;
                        //或者
                        var e = new ModuleID(inputs[i].value);//value 存放的是 moduleID
                        listModuleID.push(e);
                    }
                    $.post("@Url.Content("~/SystemMaintenance/RoleMaintain/InsertPermission")",
                        {
                            userType: userType,
                            description: description,
                            listModuleID: listModuleID //勾选的模块ID对象的数组（数据类型是 ModuleID对象的数组）
                        },
                        function (msg) {
                            if (msg.State) {
                                //询问框
                                layer.confirm('角色新增成功，是否回到主页面？', { icon: 3, titile: "提示" },
                                    function (index) {
                                        //回到主页
                                        window.location.replace("@Url.Content("~/SystemMaintenance/RoleMaintain/Index")");
                                    },
                                     function (index) {
                                         //刷新页面
                                         window.location.reload();
                                     }
                                );
                            }
                            else {
                                //提示
                                layer.alert(msg.Text);
                            }
                        });
                }
                else {
                    layer.alert("请选择模块！", { icon: 5, offset: '150px' });//弹出提示框
                }
            }
            else {
                layer.alert("信息填写不完整，请检查后再保存！", { icon: 5, offset: '150px' });//弹出提示框
            }
        }
        //JS new 构造函数
        //说明：构造函数也是种函数，但为了区分平常所用的函数，构造函数的函数名采用大骆驼峰写法(首字母大写)。
        //语法：var o = new ClassName();
        //原型：构造函数的prototype属性。
        // 1.创建构造函数
        //function People(name) {
        //    this.name;
        //}
        function ModuleID(moduleID) {
            this.moduleID = moduleID;
        }
        //返回
        function btnCancel()
        {
            window.location.replace("@Url.Content("~/SystemMaintenance/RoleMaintain/Index")");
        }



    </script>
</body>
</html>
