
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>主页面</title>、
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app-assets/css/app.css">
    <link rel="stylesheet" href="~/Content/css/Main.css">
</head>
<body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
        <!--侧边导航部分 开始-->
        <div data-active-color="white" data-background-color="crystal-clear" data-image="@Url.Content("~/Content/app-assets/img/sidebar-bg/06.jpg")" class="app-sidebar">
            <div class="sidebar-header">
                <div class="logo clearfix">
                    <a href="index.html" class="logo-text float-left">
                        <div class="logo-img"><img src="~/Content/app-assets/img/logo.png" alt="Convex Logo" /></div><span class="text align-middle" id="yxm14">CONVEX</span>
                    </a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-disc toggle-icon"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-circle"></i></a>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="nav-container" id="yxm11">
                    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                        <li class="has-sub nav-item">
                            <a href="#"><i class="icon-plane"></i><span data-i18n="" class="menu-title">PNR</span></a>
                            <ul class="menu-content">
                                <li class="" id="PNRAppointment">
                                    <a href="JavaScript:;" class="menu-item">PNR预约</a>
                                </li>
                                <li id="PNRQuery">
                                    <a href="#" class="menu-item">PNR查询</a>
                                </li>
                                <li id="SelectOrder">
                                    <a href="#" class="menu-item">订单查询</a>
                                </li>
                                <li id="StrokeDisplay">
                                    <a href="#" class="menu-item">行程显示</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a href="#"><i class="icon-credit-card"></i><span data-i18n="" class="menu-title">电子票证</span></a>
                            <ul class="menu-content">
                                <li id="TicketModify">
                                    <a href="#" class="menu-item">票证查询/修改</a>
                                </li>
                                <li id="AgentTicketQuery">
                                    <a href="#" class="menu-item">代理人票证查询</a>
                                </li>
                                <li id="TicketPrint">
                                    <a href="#" class="menu-item">电子客票打印换开</a>
                                </li>
                                <li id="TicketHistoryQuery">
                                    <a href="#" class="menu-item">票证历史记录查询</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a href="#"><i class="icon-pie-chart"></i><span data-i18n="" class="menu-title">统计功能</span></a>
                            <ul class="menu-content">
                                <li id="SalesReportStatistics">
                                    <a href="#" class="menu-item">销售报告统计</a>
                                </li>
                                <li id="PaymentStatistics">
                                    <a href="#" class="menu-item">支付统计</a>
                                </li>
                                <li id="TDQstatistics">
                                    <a href="#" class="menu-item">运输数据查询统计</a>
                                </li>
                                <li id="VirAccountQuery">
                                    <a href="#" class="menu-item">虚拟账户查询</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a href="javascript:;">
                                <i class="icon-wrench"></i>
                                <span data-i18n="" class="menu-title">其他</span>
                            </a>
                            <ul class="menu-content" style="">
                                <li id="OpenOffNumber" class="">
                                    <!--Opening office number-->
                                    <a href="javascript:;" class="menu-item">开通工号</a>
                                </li>
                                <li id="UserDataMaintain" class="">
                                    <!--User data maintenance-->
                                    <a href="javascript:;" class="menu-item">用户资料维护</a>
                                </li>
                                <li id="IssuanceTicket" class="">
                                    <!--Issuance of ticket-->
                                    <a href="javascript:;" class="menu-item">票证下发</a>
                                </li>
                                <li id="ExportARdata" class="">
                                    <a href="javascript:;" class="menu-item">导出AR数据</a>
                                </li>
                                <li id="ExportLKdata" class="">
                                    <a href="javascript:;" class="menu-item">导出LK数据</a>
                                </li>
                                <li id="FlightMaintain" class="">
                                    <!--FlightMaintenance-->
                                    <a href="javascript:;" class="menu-item">航班维护</a>
                                </li>
                                <li id="ModifyPassword" class="">
                                    <a href="javascript:;" class="menu-item">密码修改</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub nav-item">
                            <a href="javascript:;">
                                <i class="icon-settings"></i>
                                <span data-i18n="" class="menu-title">系统维护</span>
                            </a>
                            <ul class="menu-content">
                                <li id="RoleMaintain">
                                    <a href="javascript:;" class="menu-item">角色维护</a>
                                </li>
                                <li id="TCCMaintain">
                                    <!--Three character code maintenance-->
                                    <a href="javascript:;" class="menu-item">三字代码维护</a>
                                </li>
                                <li id="ClassMaintain">
                                    <a href="javascript:;" class="menu-item">舱位等级维护</a>
                                </li>
                                <li id="TicketNumMaintain">
                                    <!--Ticket number maintenance-->
                                    <a href="javascript:;" class="menu-item">票号维护</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>
        <!--侧边导航部分 结束-->
        <!--顶部导航部分 开始-->
        <nav class="navbar navbar-expand-lg navbar-light bg-faded" style="background-image: linear-gradient(45deg,#4873b8,#92b1d4 );position:relative;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-left">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="text-white sysname">中国东方航空电子客票系统</span>
                    <span class="d-lg-none navbar-right navbar-collapse-toggle">
                        <a class="open-navbar-container"><i class="ft-more-vertical"></i></a>
                    </span>
                </div>
                <div class="navbar-container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="dropdown nav-item mr-0">
                                <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-user-link dropdown-toggle">
                                    <span class="avatar avatar-online">
                                        <span style="color:red;">@ViewBag.jobNumber</span>
                                    </span>
                                    <p class="d-none">User Settings</p>
                                </a>
                                <div aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-right">
                                    <div class="arrow_box_right"id="btnLoginOut">
                                        <a href="javascript:;" class="dropdown-item"><i class="ft-power mr-2"></i><span>Logout</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!--顶部导航部分 结束-->
        <!--主视图区域 开始 -->
        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="container-fluid" id="yxm12">
                        <!--Statistics cards Starts-->
                        <!--导航条-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb" id="breadcrumb-main">
                                <li class="breadcrumb-item">飞机订票系统</li>
                            </ol>
                        </nav>
                        <iframe id="content"></iframe>
                    </div>
                </div>
            </div>

            <footer class="footer footer-static footer-light">
                <p class="clearfix text-muted text-center px-2" id="yxm13"><span>Copyright  &copy; 2018 <a href="http://bootstrapmb.com" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">PIXINVENT </a>, All rights reserved. </span></p>
            </footer>

        </div>
        <!--主视图区域 结束 -->
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/Content/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/core/bootstrap.min.js"></script>
    <script src="~/Content/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <script src="~/Content/app-assets/js/app-sidebar.js"></script>
    <script src="~/Content/app-assets/js/notification-sidebar.js"></script>

    <!-- END CONVEX JS-->
    <script src="~/Content/layui/layui.js"></script>
    <script>
        var layer;
        $(function () {
            layui.use('layer', function () {
                layer = layui.layer;
            })
            //为li标签添加active类和移除active的类
            $("#main-menu-navigation li ul li").click(function () {
                $("#main-menu-navigation li ul li").each(function (Index, item) {                    
                    $("#main-menu-navigation li ul li").removeClass("active");
                })
                $(this).addClass("active");
                //移除导航条，目的防止用户多次点击造成导航条多次显示
                $("#breadcrumb-main").empty();
                //添加导航条，把原有的移除重新添加
                $("#breadcrumb-main").append(' <li class="breadcrumb-item">飞机订票系统</li>');
                $("#breadcrumb-main").append('<li class="breadcrumb-item">' + $(this).parent().prev().text() + '</li>');
                $("#breadcrumb-main").append('<li class="breadcrumb-item">' + $(this).text().trim()) + '</li>';
                // console.log($(this).parent().prev().text());
            })
            //------------------菜单的跳转
            // PNR --> PNR 预订
            $("#PNRAppointment").click(function () {
                sessionStorage.removeItem("addSemgent");
                sessionStorage.removeItem("copyPNR");
                $("#content").prop("src", "@Url.Content("~/PNR/PNRAppointment/Index")");
            });
            //------------三字码
            $("#TCCMaintain").click(function () {
                $("#content").prop("src", "@Url.Content("~/SystemMaintenance/TCCMaintain/Index")");
            });
            //----------------舱位等级维护
            $("#ClassMaintain").click(function () {
                $("#content").prop("src", "@Url.Content("~/SystemMaintenance/ClassMaintain/Index")");
            });
            //---------------开通工号
            $("#OpenOffNumber").click(function () {
                $("#content").prop("src", "@Url.Content("~/OthersMaintenance/OpenOffNumber/Index")");
            });
            //---------------角色维护
            $("#UserDataMaintain").click(function () {
                $("#content").prop("src", "@Url.Content("~/OthersMaintenance/UserDataMaintain/Index")");
            });
            //---------------修改密码
            $("#ModifyPassword").click(function () {
                $("#content").prop("src", "@Url.Content("~/OthersMaintenance/ModifyPassword/Index")");
            });
            //---------------票证下发
            $("#IssuanceTicket").click(function () {
                $("#content").prop("src", "@Url.Content("~/OthersMaintenance/IssuanceTicket/Index")");
            });
            //-------------票号维护
            $("#TicketNumMaintain").click(function () {
                $("#content").prop("src", "@Url.Content("~/SystemMaintenance/TicketNumMaintain/Index")");
            });
            //其他 -> 航班维护(暂时先打开 生成测试航班数据的页面)
            $("#FlightMaintain").click(function () {
                $("#content").prop("src", "@Url.Content("~/OthersMaintenance/FlightMaintain/CreateFlightAuto")");
            });
            //-------------PNR查询
            $("#PNRQuery").click(function () {
                $("#content").prop("src", "@Url.Content("~/PNR/PNRQuery/PNRQuery")");
            });
            //=============订单查询
            $("#SelectOrder").click(function () {
                $("#content").prop("src", "@Url.Content("~/PNR/SelectOrder/SelectOrder")");
            });
            //=============行程显示
            $("#StrokeDisplay").click(function () {
                $("#content").prop("src", "@Url.Content("~/PNR/StrokeDisplay/StrokeDisplay")");
            });
            //==============票证查询/修改
            $("#TicketModify").click(function () {
                $("#content").prop("src", "@Url.Content("~/ElectronicsTicket/TicketModify/TicketModify")");
            });
            //==============导出旅客数据
            $("#ExportLKdata").click(function () {
                $("#content").prop("src", "@Url.Content("~/OthersMaintenance/ExportLKdata/Index")");
            });
            //==============导出AR数据
            $("#ExportARdata").click(function () {
                $("#content").prop("src", "@Url.Content("~/OthersMaintenance/ExportARdata/Index")");
            });
            //=============销售报告统计
            $("#SalesReportStatistics").click(function () {
                $("#content").prop("src", "@Url.Content("~/StatisticalManagement/SalesReportStatistics/Index")");
            });
            //=============支付统计
            $("#PaymentStatistics").click(function () {
                $("#content").prop("src", "@Url.Content("~/StatisticalManagement/PaymentStatistics/Index")");
            });
            //统计功能-->3.运输数据查询统计
            $("#TDQstatistics").click(function () {
                $("#content").attr("src", "@Url.Content("~/StatisticalManagement/TDQstatistics/index")");
            });
            //统计功能-->4.虚拟账户查询
            $("#VirAccountQuery").click(function () {
                $("#content").attr("src", "@Url.Content("~/StatisticalManagement/VirAccountQuery/index")");
            });
            //角色维护
            $("#RoleMaintain").click(function () {
                $("#content").attr("src", "@Url.Content("~/SystemMaintenance/RoleMaintain/index")");
            });
            //-----------------------退出登录
            $("#btnLoginOut").click(function () {
                layer.confirm('您确认要退出登录吗?', { icon: 3, title: "提示" }, function (index) {
                    //关闭提示框
                    layer.close(index);
                    //请求服务端的退出登录
                    $.post("@Url.Content("~/Main/loginOut")", function () {
                        window.location.reload();//刷新页面
                    });
                })
            });
        });

    </script>
    <!--权限应用-->
    <script>
        $(document).ready(function () {
            //JurisdictionMenu();
        });
        //删除没有的模块
        function JurisdictionMenu() {
            //获取页面全部菜单
            var dirIdModlarName = {
                "PNR": "PNR",
                "电子票证": "ELectromicTicket",
                "统计功能": "Statistic",
                "其他": "Other",
                "系统维护": "SystemManagement",
                "PNR预约": "PNRAppointment",
                "PNR查询": "PNRQuery",
                "订单查询": "SelectOrder",
                "行程显示": "StrokeDisplay",
                "免费出票": "FreeTickets",
                "票证查询/修改": "TicketModify",
                "代理人票证查询": "AgentTicketQuery",
                "电子客票打印换开": "TicketPrint",
                "票证历史记录查询": "TicketHistoryQuery",
                "旅客电子票查询": "TravelHistoryQuery",
                "销售报告统计": "SalesReportStatistics",
                "支付统计": "PaymentStatistics",
                "运输数据查询统计": "TDQstatistics",
                "虚拟账户查询": "VirAccountQuery",
                "开通工号": "OpenOffNumber",
                "用户资料维护": "UserDataMaintain",
                "票证下发": "IssuanceTicket",
                "导出AR数据": "ExportARdata",
                "导出LK数据": "ExportLKdata",
                "航班维护": "FlightMaintain",
                "密码修改": "ModifyPassword",
                "角色维护": "RoleMaintain",
                "三字代码维护": "TCCMaintain",
                "舱位等级维护": "ClassMaintain",
                "票号维护": "TicketNumMaintain",
            }
            //console.log(dirIdModlarName);
            $.post("/Main/SelectModularJurisdiction", { time: (new Date()).getTime().toString() }, function (objModulars) {
                console.log(objModulars);
                if (objModulars == "") {
                    window.location.href = "/";
                } else {
                    for (key in objModulars) {
                        var obj = objModulars[key];
                        if (obj.ID == 0) {
                            var modularName = obj.ModularName;
                            var elId = dirIdModlarName[modularName];
                            console.log(elId);
                            $("#" + elId).remove();//去掉没有的权限对应的菜单
                        }
                    }
                }
            });

        }
    </script>

</body>
</html>
