@using FJDPXT.Models;
@{
    Layout = null;

    int maxNum = ViewBag.maxNum;
    List<S_PassengerType> passengerType = ViewBag.passengerType;
    List<S_CertificatesType> certificatesType = ViewBag.certificatesType;
    var btnDisable = maxNum < 1? "disabled" : "";//如果可以添加旅客数小于1，禁用添加按钮
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加旅客</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.css" rel="stylesheet">
    <style>
        body {
            font-size: 14px;
        }

        .btn.disabled, .btn:disabled {
            color: #dddddd;
            opacity: .4;
        }
        div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
        }
    </style>

</head>
<body>
    <div class="container mb-4">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h2>添加旅客</h2>
            </div>
        </div>
        @*PNR编号 、 PNR状态*@
        <div class="row">
            <label class="col-12 col-form-label">
                <b>PNR:&nbsp;&nbsp;<span id="spanPNRNo"></span>&nbsp;&nbsp;<span id="spanPNRStatus"></span></b>
            </label>
        </div>
        @*PNR旅客信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>旅客</th>
                    <th>旅客类型</th>
                    <th>证件类型</th>
                    <th>证件号码</th>
                    <th>常旅客号</th>
                </tr>
            </thead>
            <tbody id="tbodyPassenger"></tbody>
        </table>
        @*PNR航段信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>航段号</th>
                    <th>航班号</th>
                    <th>始发地 - 目的地</th>
                    <th>起飞 - 到达</th>
                    <th>日期</th>
                    <th>舱位等级</th>
                    <th>价格(人民币)</th>
                    <th>座位数</th>
                    <th>航段类型</th>
                </tr>
            </thead>
            <tbody id="tbodySegment"></tbody>
        </table>
        @*PNR联系组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>联系组信息</th>
                </tr>
            </thead>
            <tbody id="tbodyContact"></tbody>
        </table>
        @*PNR其他信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>其他信息</th>
                </tr>
            </thead>
            <tbody id="tbodyOtherInfo"></tbody>
        </table>
        @*PNR出票组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>出票组信息</th>
                </tr>
            </thead>
            <tbody id="tbodyTicketingInfos"></tbody>
        </table>

        @*添加旅客信息部分 *@
        <div class="card">
            <div class="card-header justify-content-between">
                <div class="row justify-content-between">
                    <h3>添加旅客</h3> <span>最多可以添加 @maxNum 个旅客</span>
                </div>
            </div>
            <div class="card-body pt-1" id="cardBodyContent">
                @if (maxNum > 0)
                {
                    @*判断可添加最大旅客数*@
                    <div class="row justify-content-end mb-2">
                        @*添加按钮*@
                        <button type="button" class="btn btn-sm btn-primary" id="btnAdd"><i class="layui-icon layui-icon-add-1"></i></button>
                        @*移除按钮*@
                        <button type="button" class="btn btn-sm btn-primary ml-1" id="btnRemove"><i class="layui-icon layui-icon-delete"></i></button>
                    </div>
                    int i = 1;
                    @*第一个添加旅客的表单  同时也旅客表单的模板 布局和PNR 预订流程中PNR信息录入的旅客部分是一样的*@
                    <form class="row mb-2" id="@("formPassenger"+i)">
                        @* 隐藏域 PNR旅客编号*@
                        <input type="hidden" name="passengerNo" value="@i" />
                        <div class="col-12">
                            <div class="row">
                                <label class="col-1 col-form-label" data-index="index">@i</label>
                                <label class="col-3 col-lg-2 col-xl-1 col-form-label">旅客姓名<sup class="text-danger">*</sup></label>
                                <div class="col-8 col-lg-2 col-xl-3">
                                    <input type="text" class="form-control" name="passengerName" placeholder="填写旅客姓名" />
                                </div>
                                <div class="col-11 col-lg-2 offset-1 offset-lg-0  mt-2 mt-lg-0">
                                    <select class="form-control" name="passengerTypeID">
                                        <option value="0">---请选择---</option>
                                        @foreach (S_PassengerType passengerTypes in passengerType)
                                        {
                                            <option value="@passengerTypes.passengerTypeID">@passengerTypes.passengerType</option>
                                        }
                                    </select>
                                </div>
                                <label class="col-3 col-lg-2 col-xl-1 offset-1 offset-lg-0 mt-2 mt-lg-0 col-form-label">证件类型<sup class="text-danger">*</sup></label>
                                <div class="col-8 col-lg-3 col-xl-4  mt-2 mt-lg-0">
                                    <select class="form-control" name="certificatesTypeID">
                                        <option value="0">---请选择---</option>
                                        @foreach (S_CertificatesType certificatesTypes in certificatesType)
                                        {
                                            <option value="@certificatesTypes.certificatesTypeID">@certificatesTypes.certificatesType</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-1"></div>
                                <label class="col-3 col-lg-2 col-xl-1 col-form-label">常旅客号:</label>
                                <div class="col-8 col-lg-2 col-xl-3">
                                    <input type="text" class="form-control" name="frequentPassengerNo" placeholder="没有常旅客卡号的请不填" />
                                </div>
                                <label class="col-3 col-lg-2 col-xl-1 offset-1 offset-lg-2 mt-2 mt-lg-0 col-form-label">证件号码<sup class="text-danger">*</sup></label>
                                <div class="col-8 col-lg-3 col-xl-4 mt-2 mt-lg-0">
                                    <input type="text" class="form-control" name="certificatesCode" placeholder="填写旅客证件号" />
                                </div>
                            </div>
                        </div>
                    </form>

                }
                else
                {
                    <p class="text-danger">旅客人数以经到达上限，不能再添加旅客！</p>
                }
            </div>
        </div>

        <div class="row justify-content-center mt-4 mb-4">
            <div class="col-4 col-md-3 col-lg-2">
                <button type="button" class="btn btn-primary btn-block" id="btnAddPassenger" @btnDisable>添加旅客</button>
            </div>
            <div class="col-3 col-md-3 col-lg-2">
                <button type="button" class="btn btn-primary btn-block" id="btnBack">返回</button>
            </div>
        </div>

    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script>
        var PNRID = @ViewBag.PNRID;
        var layer;
        var maxAddNum = @ViewBag.maxNum;//获取控制器传过来的可以添加的旅客数
        var passengerNo = maxAddNum>0?1:0;//判断可添加旅客数是否大于1，是就等1，否等0。
        

        $(function(){
            //加载&初始化layui模块
            layui.use(['layer'],function(){
                layer = layui.layer;


                //发送请求
                var layerIndex = layer.load();
                $.post("SelectPNRInfo",
                    {
                        PNRID:PNRID
                    },
                    function(jsonData){
                        //关闭加载层
                        layer.close(layerIndex);

                        //获取控制器传回的数据
                        var pnrInfors = jsonData.pnrInfors;
                        var PassengerInfors = jsonData.PassengerInfors;
                        var FlightcabinInfors = jsonData.FlightcabinInfors;
                        var OtherInfors = jsonData.OtherInfors;
                        var PNRTickings = jsonData.PNRTickings;



                        //1.PNR编号&PNR状态
                        $("#spanPNRNo").text(pnrInfors.PNRNo);
                        $("#spanPNRStatus").text("("+pnrInfors.strPNRStatus+")")

                        //记录序号
                        var totalNum = 1;

                        //2.旅客信息部分
                        //遍历循环旅客信息
                        $.each(PassengerInfors,function(index,passenger){
                            //创建tr
                            var pTr = $("<tr></tr>");

                            pTr.append("<td>"+ (totalNum++) +"</td>");
                            pTr.append("<td>"+ passenger.passengerName +"</td>");
                            pTr.append("<td>"+ passenger.passengerType +"</td>");
                            pTr.append("<td>"+ passenger.certificatesType +"</td>");
                            pTr.append("<td>"+ passenger.certificatesCode +"</td>");
                            pTr.append("<td>"+ passenger.frequentPassengerNo +"</td>");

                            //tr放入tbody
                            $("#tbodyPassenger").append(pTr);
                        })

                        //3.航段航班舱位信息
                        $.each(FlightcabinInfors,function(index,flightCabinInfor){
                            //创建元素
                            var fTr = $("<tr></tr>");

                            fTr.append("<td>"+(totalNum++)+"</td>");
                            fTr.append("<td>"+flightCabinInfor.segmentNo+"</td>");
                            fTr.append("<td>"+flightCabinInfor.flightCode+"</td>");
                            fTr.append("<td>"+flightCabinInfor.orangeCity +"-"+ flightCabinInfor.destinationCity +"</td>");
                            fTr.append("<td>"+flightTimeToStr(flightCabinInfor.departureTime,flightCabinInfor.arrivalTime) +"</td>");

                            var dtFlight1 = flightCabinInfor.flightDate;
                            //replace() /Date(1596038400000)/
                            //var dtFlight = new Date(parseInt(dtFlight1.replace("/Date(","").replace(")/","")));
                            //substr() 方法可在字符串中抽取从 start 下标开始的指定数目的字符。
                            //obj.substr(start,length)
                            var dtFlight =new Date(parseInt(dtFlight1.substr(6,13)));
                            //console.log(dtFlight1);
                            fTr.append("<td>"+(dtFlight.getFullYear()+"-"+(dtFlight.getMonth()+1)+"-"+dtFlight.getDate() )+"</td>");
                            fTr.append("<td>"+flightCabinInfor.cabinTypeName +"</td>");
                            fTr.append("<td>"+flightCabinInfor.cabinPrice +"</td>");
                            fTr.append("<td>"+flightCabinInfor.seatNum +"</td>");
                            fTr.append("<td>"+flightCabinInfor.segmentTypeStr +"</td>");

                            $("#tbodySegment").append(fTr);
                        });

                        //4. 联系组
                        var cTr = $("<tr></tr>");
                        cTr.append('<td class="text-center">'+(totalNum++)+'</td>');
                        cTr.append('<td>'+pnrInfors.contactName+' '+pnrInfors.contactPhone+'</td>');
                        //添加到联系人组tbody中
                        $("#tbodyContact").append(cTr);

                        //5. 其他信息tbodyOtherInfo
                        $.each(OtherInfors,function(index,otherInfo){
                            var oTr = $("<tr></tr>");
                            oTr.append('<td>'+(totalNum++)+'</td>');
                            oTr.append('<td>'+otherInfo.otherInfo+'</td>');

                            //添加到其他组tbody中
                            $("#tbodyOtherInfo").append(oTr);
                        });

                        //6.出票信息
                        var ticketingTr = $("<tr></tr>");
                        ticketingTr.append('<td class="text-center">'+(totalNum++)+'</td>');
                        ticketingTr.append('<td>'+pnrInfors.TicketingInfo+'</td>');
                        //添加到出票组tbody中
                        $("#tbodyTicketingInfos").append(ticketingTr);

                        $.each(PNRTickings,function(index,pnrTicking){
                            var pTr = $("<tr></tr>");
                            pTr.append('<td class="text-center">'+(totalNum++)+'</td>');
                            pTr.append("<td>"+"OSI MU TKNO"+ pnrTicking.ticketNo.replace("-","")+
                                "/S"+pnrTicking.segmentNo+"/P"+pnrTicking.passengerNo +"</td>");

                            //添加到出票组tbody中
                            $("#tbodyTicketingInfos").append(pTr);
                        })
                    });
            });

            //+按钮点击事件，获取按钮，判断旅客人数和模块数，获取模块，克隆模块。
            $("#btnAdd").click(function(){
                //判断旅客数
                if(maxAddNum>passengerNo){
                    //多次点击后可添加旅客数逐渐减少，passengerNo=maxAddNum>1?1:0。maxAddNum不断减一
                    passengerNo++;
                    //获取from模板
                    var formPassenger1 = $("#formPassenger1");
                    //克隆模板clone
                    var frPassengerNew = formPassenger1.clone();
                    //重置表单，目的得到新的表单
                    frPassengerNew[0].reset()
                    //给新的表单添加ID值，id值等于formPassenger+passengerNo，作用使得from表单id不一致
                    frPassengerNew.prop("id","formPassenger"+passengerNo);
                    //find,查找表单中[name="passengerNo"]的属性，的值等于passengerNo
                    frPassengerNew.find('[name="passengerNo"]').val(passengerNo);
                    //修改序号
                    frPassengerNew.find('[data-index="index"]').text(passengerNo);
                    //复制出来的表单放到容器
                    $("#cardBodyContent").append(frPassengerNew);

                }else{
                    myAlert("无法添加更多的旅客");
                }
            });
            //删除按钮点击事件,1.判断当前要删除的表单是否=1是的话就是最后一个不能进行删除，2.获取最后面的表单，3.删除表单，4.passengerNo--
            $("#btnRemove").click(function(){
                if(passengerNo>1){
                    //获取最后一个表单
                    var lastFrPassenger = $("#formPassenger"+passengerNo);
                    //删除表单
                    lastFrPassenger.remove();
                    passengerNo--;
                }else{
                    myAlert("至少保留一个")
                }
            });

            //添加旅客按钮点击事件
            $("#btnAddPassenger").click(function(){
                //检查是否可添加旅客
                if(maxAddNum<1){
                    myAlert("本航班已经没有多余的位置，无法添加旅客！");
                    return;
                }
                //获取添加的旅客信息
                var passengerInfors = [];
                for (var i = 1; i <= passengerNo; i++) {
                    var passenger = {};
                    //serializeArray序列化操作
                    $.each($("#formPassenger"+i).serializeArray(),function(index,item){
                        //转成键值对
                        passenger[item.name]=item.value;
                    });
                    //把paseenger放进arrpassenger里
                    passengerInfors.push(passenger);
                }
                
                //数据验证
                if (passengerInfors.length==0) {
                    myAlert("请添加乘客！");
                    return;
                }

                //2. 检查输入的旅客信息
                for (var i = 0; i < passengerInfors.length; i++) {
                    //判断名字是否填写
                    if (passengerInfors[i].passengerName==undefined || passengerInfors[i].passengerName=="") {
                        myAlert("请填写第【"+(i+1)+"】个旅客的姓名！");
                        return;
                    }

                    //如果证件类型为“身份证”,验证身份证号是否正确
                    if (passengerInfors[i].certificatesTypeID==1&&!idCardNo(passengerInfors[i].certificatesCode)) {
                        myAlert("请检查第【"+(i+1)+"】位旅客的身份证号！");
                        return;
                    }
                    //判断旅客类型ID是否为0
                    if (passengerInfors[i].passengerTypeID==0) {
                        myAlert("请选择第【"+(i+1)+"】个旅客的旅客类型！");
                        return;
                    }
                    //判断证件类型ID是否为0
                    if (passengerInfors[i].certificatesTypeID==0) {
                        myAlert("请选择第【"+(i+1)+"】个旅客的证件类型！");
                        return;
                    }

                    //根据旅客身份证号得到年龄，再与旅客类型比较是否相符
                    if (passengerInfors[i].certificatesTypeID==1) {
                        //getAgeByIdCard,封装的方法
                        var age = getAgeByIdCard(passengerInfors[i].certificatesCode);
                        if(passengerInfors[i].passengerTypeID == 1 && age < 18){
                            myAlert("第【"+(i+1)+"】位旅客的年龄小于18岁，与所选的揽客类型【成人】不符，请检查！");
                            return;
                        }
                        if (passengerInfors[i].passengerTypeID == 2 && age >=18 ) {
                            myAlert("第【"+(i+1)+"】位旅客的年龄大于18岁，与所选的揽客类型【儿童】不符，请检查！");
                            return;
                        }
                        //检查身份证号是否相同
                        for (var j = i+1; j < passengerInfors.length; j++) {
                            if(passengerInfors[i].certificatesCode == passengerInfors[j].certificatesCode){
                                myAlert("第【" + (i + 1) + "】个和第【" + (j + 1) + "】个乘客的身份证号相同，请检查;");
                                return;
                            }
                        }
                    }
                }

                //发送请求
                //发送请求
                var layerIdex = layer.load();
                $.post("addPNRPassenger",
                    {
                        PNRID:PNRID,
                        passengerInfors:passengerInfors
                    },function(jsonData){
                        layer.close(layerIdex);
                        myAlert(jsonData.Text);
                        if (jsonData.State) {
                            window.location.replace("@Url.Content("~/PNR/PNRQuery/PnrInfoShow?PNRID=")"+PNRID);
                        }
                    })
            });


            //返回按钮
            $("#btnBack").click(function(){
                window.location.replace("@Url.Content("~/PNR/PNRQuery/PnrInfoShow?PNRID=")"+PNRID);
            });

        });


    </script>
</body>
</html>
