
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PNR显示</title>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.css" rel="stylesheet">
    <style>
        .btn.disabled, .btn:disabled {
            color: #dddddd;
            opacity: .4;
        }
        div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
    </style>
</head>
<body>
    <div class="container mb-4">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h2>PNR显示</h2>
            </div>
        </div>

        @*PNR操作按钮，大部分默认禁用 根据PNR状态选择性开启*@
        <div class="row">
            <div class="col-12">
                <label class="col-form-label">PNR操作：</label>
                <button type="button" class="btn btn-sm btn-primary mb-2" id="btnCopyPNR">PNR复制</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1" disabled id="btnCancelPNR">PNR取消</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1" disabled id="btnSplitPNR">PNR分离</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1" disabled id="btnAddPassenger">添加旅客</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1" disabled id="btnEditPassengerName">修改姓名</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1" disabled id="btnRemovePassenger">删除旅客</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1" disabled id="btnAddSegment">添加航段</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1" disabled id="btnRemoveSegment">删除航段</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs2 bs3" disabled id="btnStrokeDisplay">打印行程</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1" disabled id="btnIssuanceTicket">出票</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1 bs2" disabled id="btnPartIssuanceTicket">部分出票</button>
                <button type="button" class="btn btn-sm btn-primary mb-2 bs1" disabled id="btnEditOtherInfo">其他信息修改</button>
                <button type="button" class="btn btn-sm btn-primary mb-2" onclick="back()">返回</button>
            </div>
        </div>

        @*PNR编号 、 PNR状态*@
        <div class="row">
            <label class="col-12 col-form-label">
                <b>PNR:&nbsp;&nbsp;<span id="spanPNRNo"></span>&nbsp;&nbsp;<span id="spanPNRStatus"></span></b>
            </label>
        </div>

        @*PNR旅客信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>旅客</th>
                    <th>旅客类型</th>
                    <th>证件类型</th>
                    <th>证件号码</th>
                    <th>常旅客号</th>
                </tr>
            </thead>
            <tbody id="tbodyPassenger">
                @* 旅客信息 *@
            </tbody>
        </table>

        @*PNR航段信息 table*@
        <table class="table table-bordered text-center mb-1">
            <thead>
                <tr>
                    <th width="60">序号</th>
                    <th>航段号</th>
                    <th>航班号</th>
                    <th>始发地 - 目的地</th>
                    <th>起飞 - 到达</th>
                    <th>日期</th>
                    <th>舱位等级</th>
                    <th>价格(人民币)</th>
                    <th>座位数</th>
                    <th>航段类型</th>
                </tr>
            </thead>
            <tbody id="tbodySegment">
                @* PNR航段航班信息 *@

            </tbody>
        </table>

        @*PNR联系组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>联系组信息</th>
                </tr>
            </thead>
            <tbody id="tbodyContact">
                @* 联系组信息 *@
            </tbody>
        </table>

        @*PNR其他信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>其他信息</th>
                </tr>
            </thead>
            <tbody id="tbodyOtherInfo">
                @* 其他信息 *@

            </tbody>
        </table>

        @*PNR出票组信息 table*@
        <table class="table table-bordered mb-1">
            <thead>
                <tr>
                    <th width="60" class="text-center">序号</th>
                    <th>出票组信息</th>
                </tr>
            </thead>
            <tbody id="tbodyTicketingInfos">
                @* 出票组信息 *@

            </tbody>
        </table>

    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script>
        var PNRID=@ViewBag.PNRID;
        var layer;
        var passengerNum = 0;//旅客人数，PNR分离需要使用
        //记录航段数
        var segmentNum = 0;
        $(function(){
            //渲染表格
            layui.use(['layer'],function(){
                layer=layui.layer;
                //打开加载层
                var layerIndex = layer.load();
                $.post("@Url.Content("~/PNR/PNRQuery/SelectPNRInfo")",{
                    PNRID:PNRID
                },function(jsonData){
                    //关闭加载层
                    layer.close(layerIndex);
                    var pnrInfors=jsonData.pnrInfors;
                    var PassengerInfors=jsonData.PassengerInfors;
                    var FlightcabinInfors=jsonData.FlightcabinInfors;
                    var OtherInfors=jsonData.OtherInfors;
                    var PNRTickings=jsonData.PNRTickings;
                    //绑定PNRNo
                    $("#spanPNRNo").text(pnrInfors.PNRNo);
                    //绑定PNR状态
                    var PNRStatus = pnrInfors.PNRStatus;
                    if(PNRStatus==0){
                        $("#spanPNRStatus").text("(已经取消)");
                    }else if(PNRStatus==1){
                        $(".bs1").removeAttr("disabled");
                        $("#spanPNRStatus").text("(已经订座)");
                    }else if(PNRStatus==2){
                        $(".bs2").removeAttr("disabled");
                        $("#spanPNRStatus").text("(部分出票)");
                    }else if(PNRStatus==3){
                        $(".bs3").removeAttr("disabled");
                        $("#spanPNRStatus").text("(全部出票)");
                    }

                    //声明一个序号
                    var tatolnum = 1;
                    passengerNum = PassengerInfors.length;//PNR分离需要使用,因为需要存在两个旅客以上才能进行分离
                    //旅客信息绑定
                    //遍历旅客信息
                    for (var i = 0; i <PassengerInfors.length; i++) {
                        //创建tr元素
                        //var td6 = $("<tr></tr>");
                        var ptr = $(document.createElement("tr"));
                        //绑定数据
                        ptr.append("<td>"+(tatolnum++)+"</td>");
                        ptr.append("<td>"+PassengerInfors[i].passengerName+"</td>");
                        ptr.append("<td>"+PassengerInfors[i].passengerType+"</td>");
                        ptr.append("<td>"+PassengerInfors[i].certificatesType+"</td>");
                        ptr.append("<td>"+PassengerInfors[i].certificatesCode+"</td>");
                        ptr.append("<td>"+PassengerInfors[i].frequentPassengerNo+"</td>");

                        //创建td元素
                        //var td6 = $("<td></td>")
                        var td6 = $(document.createElement("td"));
                        td6=td6-1;
                        //把td添加到tr
                        ptr.append(td6);
                        $("#tbodyPassenger").append(ptr);
                    }




                    //绑定航段信息
                    //航段数
                    segmentNum = FlightcabinInfors.length;
                    $.each(FlightcabinInfors,function(Index,paseenger){
                        var ptr = $("<tr></tr>")
                        ptr.append("<td>"+(tatolnum++)+"</td>")
                        ptr.append("<td>"+paseenger.segmentNo+"</td>")
                        ptr.append("<td>"+paseenger.flightCode+"</td>")
                        ptr.append("<td>"+paseenger.orangeCity+"到"+paseenger.destinationCity+"</td>")
                        ptr.append("<td>"+flightTimeToStr(paseenger.departureTime,paseenger.arrivalTime)+"</td>")
                        //解析数据库传来的日期数据，配合getFullYear()，getMonth()，getDate()
                        var flightDate =new Date(parseInt(paseenger.flightDate.replace("/Date(","").replace(")/","")))
                        ptr.append("<td>"+flightDate.getFullYear()+"-"+(flightDate.getMonth()+1)+"-"+flightDate.getDate()+"</td>")
                        ptr.append("<td>"+paseenger.cabinTypeName+"</td>")
                        ptr.append("<td>"+paseenger.cabinPrice+"</td>")
                        ptr.append("<td>"+paseenger.seatNum+"</td>")
                        ptr.append("<td>"+paseenger.segmentTypeStr+"</td>")
                        $("#tbodySegment").append(ptr);
                    });

                    //绑定联系组信息
                    var lxzTR = $(document.createElement("tr"));
                    lxzTR.append('<td class="text-center">'+(tatolnum++)+"</td>")
                    //qittr.append("<td>"+"姓名："+pnrInfors.contactName+ "电话："+pnrInfors.contactPhone+"</td>")
                    lxzTR.append('<td>'+pnrInfors.contactName+' '+pnrInfors.contactPhone+'</td>');
                    $("#tbodyContact").append(lxzTR)

                    //绑定其他信息
                    //$.each(OtherInfors,function(index,otherInfo){
                    //    var oTr = $("<tr></tr>");
                    //    oTr.append('<td>'+(tatolnum++)+'</td>');
                    //    oTr.append('<td>'+otherInfo.otherInfo+'</td>');

                    //    //添加到其他组tbody中
                    //    $("#tbodyOtherInfo").append(oTr);
                    //});
                    for (var i = 0; i < OtherInfors.length; i++) {
                        var qiTR = $("<tr></tr>");
                        qiTR.append('<td>'+(tatolnum++)+'</td>');
                        var qiTD = $("<td>"+OtherInfors[i].otherInfo+"</td>");
                        qiTR.append(qiTD);
                        $("#tbodyOtherInfo").append(qiTR);
                    }


                    //6.出票信息
                    var ticketingTr = $("<tr></tr>");
                    ticketingTr.append('<td class="text-center">'+(tatolnum++)+'</td>');
                    ticketingTr.append('<td>'+pnrInfors.TicketingInfo+'</td>');
                    //添加到出票组tbody中
                    $("#tbodyTicketingInfos").append(ticketingTr);

                    $.each(PNRTickings,function(index,pnrTicking){
                        var pTr = $("<tr></tr>");
                        pTr.append('<td class="text-center">'+(tatolnum++)+'</td>');
                        pTr.append("<td>"+"OSI MU TKNO"+ pnrTicking.ticketNo.replace("-","")+
                            "/S"+pnrTicking.segmentNo+"/P"+pnrTicking.passengerNo +"</td>");

                        //添加到出票组tbody中
                        $("#tbodyTicketingInfos").append(pTr);
                    });
                });
            });
        });
        //复制按钮点击事件
        $("#btnCopyPNR").click(function(){
            openUrl("CopyPNR?PNRID="+PNRID);
        });
        //取消按钮点击事件
        $("#btnCancelPNR").click(function(){
            layer.confirm("确定要取消该PNR吗？（该操作不可撤回）",{icon:3,title:"提示"},function(index){
                layer.close(index);//关闭弹窗
                //加载层
                var layerIndex = layer.load();
                $.post("@Url.Content("~/PNR/PNRQuery/cancelPNR")",{PNRID:PNRID},
                    function(msg){
                        //关闭加载层
                        layer.close(layerIndex);
                        myAlert(msg.Text);
                        if(msg.State){
                            //刷新表格
                            window.location.reload();
                        }
                    }
                )
            });
        });
        //PNR分离
        $("#btnSplitPNR").click(function(){
            if(passengerNum>1){
                window.location.replace("@Url.Content("~/PNR/PNRQuery/splitPNR?PNRID=")"+PNRID);//页面跳转
            }else{
                myAlert("当前只有一个旅客PNR信息，不能进行分离");
            }
        });
        //添加旅客
        $("#btnAddPassenger").click(function(){
            if(passengerNum<9){
                window.location.replace("@Url.Content("~/PNR/PNRQuery/addPassengerPage?PNRID=")"+PNRID);
            }else{
                myAlert("该PNR的旅客数已经到达最大。（散客PNR最多只能有9个旅客）");
            }
        });
        //修改姓名
        $("#btnEditPassengerName").click(function(){
            window.location.replace("@Url.Content("~/PNR/PNRQuery/EditPassengerName?PNRID=")"+PNRID);
        })
        //删除旅客
        $("#btnRemovePassenger").click(function(){
            if(passengerNum==1){
                myAlert("当前只有一个旅客，不能删除")
            }else{
                window.location.replace("@Url.Content("~/PNR/PNRQuery/RemovePassenger?PNRID=")"+PNRID);
            }
        });
        //添加航段
        $("#btnAddSegment").click(function(){
            if(segmentNum<5){
                //设置一个添加航段的标志
                sessionStorage.setItem("addSegment","true");
                //当前PNR的航段数
                sessionStorage.setItem("addSegment_pnrSegmentNum",segmentNum)
                //PNRID
                sessionStorage.setItem("addSegment_PNRID",PNRID);
                //PNR中对应的旅客人数
                sessionStorage.setItem("addSegment_pnrPassengerNum",passengerNum);
                //页面跳转
                window.location.replace("@Url.Content("~/PNR/PNRAppointment/Index")");
            }else{
                myAlert("此订单已经存在五个航段不能再进行添加")
            }
        });
        //删除航段
        $("#btnRemoveSegment").click(function(){
            if (segmentNum>1) {
                    openUrl("removeSegmentPage?PNRID="+PNRID);
                }else{
                    myAlert("该PNR下只有一个航段，不能继续删除航段。如果不需要该PNR，可以考虑取消PNR。");
                }
        });
        //出票
        $("#btnIssuanceTicket").click(function(){
            openUrl("/PNR/PNRAppointment/PnrInfoConfirm?PNRID="+PNRID);
        });
        //部分出票
        $("#btnPartIssuanceTicket").click(function(){
            openUrl("PartIssuanceTicket?PNRID="+PNRID);
        });
        //其他信息修改
        $("#btnEditOtherInfo").click(function(){
            window.location.replace("@Url.Content("~/PNR/PNRQuery/EditOtherInfo?PNRID=")"+PNRID);
        });
        //打印页面
        $("#btnStrokeDisplay").click(function(){
            window.location.replace("@Url.Content("~/PNR/StrokeDisplay/checkFlight?PNRID=")"+PNRID);
        });
        //返回
        function back(){
            window.location.replace("@Url.Content("~/PNR/PNRQuery/PNRQuery")");
        }

        //页面跳转方法
        function openUrl(url){
                window.location.replace(url);
            };
    </script>
</body>
</html>
