
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>飞机订票系统</title>
    <link href="~/Content/images/log.png" type="image/x-icon" rel="shortcut icon" />
    <!--layui 框架样式表-->
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <!--bootstrap 框架样式表-->
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--后台模板中的字体图标css样式-->
    <link href="~/Content/app-assets/fonts/feather/style.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.min.css" rel="stylesheet" />
    <!--系统维护样式表-->
    <link href="~/Content/css/SystemMaintenance.css" rel="stylesheet" />
    <style>
         div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h4 class="text-center py-3">舱 位 等 级 维 护</h4>
        <div class="content py-3">
            @*表格*@
            <table id="tabCabinType" lay-filter="layCabinType"></table>

            <p class="text-muted text-center my-4">中国东方航空·China Eastern Airlines</p>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="btn btn-outline-primary" onclick="openInsertModal()">新增舱位等级</div>
                </div>
            </div>
        </div>
    </div>
    @*模态框*@
    <div class="modal fade" id="modCabinType">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">新增舱位等级</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*表单*@
                    <form id="frmCabinType">
                        @*隐藏域*@
                        <input type="reset" hidden />
                        @*隐藏域ID*@
                        <input type="hidden" name="cabinTypeID"/>
                        <div class="form-group row">
                            <label for="" class="col-form-label text-right col-3">舱位编码: </label>
                            <input type="text" class="form-control col-7" name="cabinTypeCode" onkeyup='value = value.replace(/[^A-Z]/g, "")'>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-3 ">舱位名称: </label>
                            <input type="text" class="form-control col-7" name="cabinTypeName" onkeyup='value = value.replace(/[^\u4e00-\u9fa5]/g, "")'>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-3 ">基础价格: </label>
                            <input type="text" class="form-control col-7" name="basisPrice" onkeyup='value = value.replace(/[^0-9.]/g, "")'>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-3 ">舱位折扣: </label>
                            <input type="text" class="form-control col-7" name="discountRate" onkeyup='value = value.replace(/[^0-9.]/g, "")'>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-outline-primary mr-2" onclick="saveCabinType()">确定</button>
                            <button type="button" class="btn btn-outline-secondary ml-2" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script>
        var layer, layuiTable;//layui模块
        var isInsert;
        var tabCabinType;
        $(function () {
            //加载layui的模块
            layui.use(['layer', 'table'], function () {
                layer = layui.layer;
                layuiTable = layui.table;

                //初始化表格
                tabCabinType = layuiTable.render({
                    elem: "#tabCabinType",
                    url: "@Url.Content("~/SystemMaintenance/ClassMaintain/SelectCabinType")",
                    cols: [[
                        { type: 'numbers', title: '序号' },
                        { field: 'cabinTypeID', title: 'cabinTypeID', hide: true },//舱位等级ID
                        { field: 'cabinTypeCode', title: '舱位编码' },//舱位编码
                        { field: 'cabinTypeName', title: '舱位名称' },//舱位名称
                        { field: 'basisPrice', title: '基础价格' },//基础价格
                        { templet: customDiscountRate, title: '折扣率' },//折扣率
                        { templet: customUpdateCol, title: '修改', align: 'center', width: 70 },
                        { templet: customDeleteCol, title: '删除', align: 'center', width: 70 }
                    ]],
                    page: true,//开始分页
                    limit: 10,//默认每一页的数据条数
                    limits: [5, 10, 15, 20, 25, 30]//指定分页大小下拉框的选项
                })
            });
        });

        //自定义列
        //折扣率
        function customDiscountRate(rowData) {
            //获取折扣率的值
            var discountRate = rowData.discountRate;
            //console.log(rowData)
            //将折扣率值返回
            return (discountRate * 100) + '%';
        }
        //------为修改自定义列添加样式和点击事件
        function customUpdateCol(rowData) {
            var cabinTypeID = rowData.cabinTypeID;
            return '<button class="layui-btn layui-btn-xs" onclick="openUpdate(' + cabinTypeID + ')"><i class="layui-icon layui-icon-edit"></i></button>'
        }
        //------为删除自定义列添加样式和点击事件
        function customDeleteCol(rowData) {
            var cabinTypeID = rowData.cabinTypeID;
            return '<button class="layui-btn layui-btn-xs" onclick="deleteCabinType(' + cabinTypeID + ')"><i class="layui-icon layui-icon-delete"></i></button>'
        }
        //打开新增模态框
        function openInsertModal() {
            //设置标识为新增
            isInsert = true;
            //清空表单
            $('#frmCabinType input[type="reset"]').click();
            //设置模态框标题
            $("#modalTitle").text("新增舱位等级");
            //显示模态框
            $("#modCabinType").modal("show");
        }
        //修改
        function openUpdate(cabinTypeID) {
            //设置标识为新增
            isInsert = false;
            //清空表单
            $('#frmCabinType input[type="reset"]').click();
            //设置模态框标题
            $("#modalTitle").text("新增舱位等级");
            $.post("@Url.Content("~/SystemMaintenance/ClassMaintain/SelectCabinTypeByID")",
            {
                cabinTypeID: cabinTypeID
            }, function (JsonData) {
                if (JsonData != null) {
                    $('#frmCabinType [name="cabinTypeID"]').val(JsonData.cabinTypeID);
                    $('#frmCabinType [name="cabinTypeCode"]').val(JsonData.cabinTypeCode);//舱位编号
                    $('#frmCabinType [name="cabinTypeName"]').val(JsonData.cabinTypeName);//舱位名称
                    $('#frmCabinType [name="basisPrice"]').val(JsonData.basisPrice);//舱位基础价格
                    $('#frmCabinType [name="discountRate"]').val(JsonData.discountRate);//舱位折扣率
                } else {
                    layer.alert("数据异常");
                }
            });
            //显示模态框
            $("#modCabinType").modal("show");
        }
        //表单保存
        function saveCabinType() {
            var cabinTypeCode = $('#frmCabinType [name="cabinTypeCode"]').val();//舱位编号
            var cabinTypeName = $('#frmCabinType [name="cabinTypeName"]').val();//舱位名称
            var basisPrice = $('#frmCabinType [name="basisPrice"]').val();//舱位基础价格
            var discountRate = $('#frmCabinType [name="discountRate"]').val();//舱位折扣率
            //数据验证
            if (cabinTypeCode == undefined || cabinTypeCode == null || cabinTypeCode == '') {
                layer.alert("请填写舱位编号");
                return;
            }
            if (cabinTypeName == undefined || cabinTypeName == null || cabinTypeName == '') {
                layer.alert("请填写舱位名称");
                return;
            }
            if (basisPrice == undefined || basisPrice == null || basisPrice == '' || isNaN(basisPrice)) {
                layer.alert("请填正确的基础价格(正数)");
                return;
            }
            if (discountRate == undefined || discountRate == null || discountRate == '' || isNaN(discountRate)) {
                layer.alert("请填正确的折扣率(正数)");
                return;
            }
            if (isInsert) {
                var layerIndex = layer.load();
                $.post("@Url.Content("~/SystemMaintenance/ClassMaintain/InsertCabinType")",
                {
                    cabinTypeCode: cabinTypeCode,
                    cabinTypeName: cabinTypeName,
                    basisPrice: basisPrice,
                    discountRate: discountRate
                }, function (msg) {
                    layer.close(layerIndex);
                    if (msg.State) {

                        layer.alert(msg.Text, { icon: 1 });
                        tabCabinType.reload({
                            page: {
                                curr:1
                            }
                        })
                        $("#modCabinType").modal("hide");
                    } else {
                        layer.alert(msg.Text, { icon: 2 });
                    }
                })
            } else {
                var cabinTypeID = $('#frmCabinType [name="cabinTypeID"]').val();//舱位等级ID
                var layerIndex = layer.load();
                $.post("@Url.Content("~/SystemMaintenance/ClassMaintain/UpdateCabinType")",
                    {
                        cabinTypeID: cabinTypeID,
                        cabinTypeCode: cabinTypeCode,
                        cabinTypeName: cabinTypeName,
                        basisPrice: basisPrice,
                        discountRate: discountRate
                    },
                    function (msg) {
                        layer.close(layerIndex);
                        if (msg.State) {
                            layer.alert(msg.Text, { icon: 1 });
                            tabCabinType.reload({
                                page: {
                                    curr: 1
                                }
                            })
                            $("#modCabinType").modal("hide");
                        } else {
                            layer.alert(msg.Text, { icon: 2 });
                        }
                    });
            }
        }
        //删除
        function deleteCabinType(cabinTypeID) {
            layer.confirm('确定要删除吗？', { icon: 2, title: '删除提示' },
                function (index) {
                    layer.close(index);
                    var layerIndex = layer.load();
                    $.post("@Url.Content("~/SystemMaintenance/ClassMaintain/DeleteCabinTypeByID")",
                        {
                            cabinTypeID: cabinTypeID
                        },
                         function (msg) {
                             layer.close(layerIndex);
                             if (msg.State) {
                                 layer.alert(msg.Text, { icon: 1 });
                                 tabCabinType.reload({
                                     page: {
                                         curr: 1
                                     }
                                 })
                                 $("#modCabinType").modal("hide");
                             } else {
                                 layer.alert(msg.Text, { icon: 2 });
                             }
                         })
                }
            );
        }
        //舱位等级编号只能有1位
        $('#frmCabinType [name="cabinTypeCode"]').on('blur change', function () {
            var val = $(this).val();
            //如果舱位等级编号长度大于1 ,就截断字符串,保留1位
            if (val.length > 1) {
                val = val.substr(0, 1);
            }
            $(this).val(val);
        });
        //设置舱位基础价格规范
        $('#frmCabinType[name="basisPrice"]').on('change', function () {
            var val = $(this).val();
            //使用正则表达式验证输入的数据是否是正数
            var patt = /^[+]?[0-9]{1,9}([.]{1}[0-9]+)?$/;
            if (patt.test(val)) {
                $(this).val("");
                layer.alert("基础价格请输入正数")
            }
        });
        //折扣率小数验证
        $('#frmCabinType[name="discountRate"]').on('blur change', function () {

        });
    </script>
</body>
</html>
