
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>飞机订票系统</title>
    <link href="~/Content/images/log.png" type="image/x-icon" rel="shortcut icon" />
    <!--layui 框架样式表-->
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <!--bootstrap 框架样式表-->
    <link href="~/Content/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--后台模板中的字体图标css样式-->
    <link href="~/Content/app-assets/fonts/feather/style.min.css" rel="stylesheet" />
    <link href="~/Content/app-assets/fonts/simple-line-icons/style.min.css" rel="stylesheet" />
    <!--系统维护样式表-->
    <link href="~/Content/css/SystemMaintenance.css" rel="stylesheet" />
    <style>
        div{
            font-family: "华文彩云";
        }
        h4{
            font-family: "华文彩云";
        }
        h5{
            font-family: "华文彩云";
        }
        p{
            font-family: "华文彩云";
        }
         label{
            font-family: "华文彩云";
        }
        input{
            font-family: "华文彩云";
        }
        tr{
            font-family: "华文彩云";
        }
        td{
            font-family: "华文彩云";
        }
        th{
            font-family: "华文彩云";
        }
        b{
            font-family: "华文彩云";
        }
        button{
            font-family: "华文彩云";
        }
        a{
            font-family: "华文彩云";
        }
        h2{
            font-family: "华文彩云";
        }
        dd{
            font-family: "华文彩云";
        }
        span{
            font-family: "华文彩云";
        }
        select{
            font-family: "华文彩云";
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h4 class="text-center py-3">三 字 代 码 维 护</h4>

        <div class="content py-3">
            @* 表格 *@
            <table id="tabAirport" lay-filter="tabAirport"></table>

            <p class="text-muted text-center my-4">中国东方航空·China Eastern Airlines</p>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="btn btn-outline-primary " onclick="openInsertModal()">新增代码</div>
                </div>
            </div>
        </div>

        @*Bootstrap的模态框 *@
        @*表单 模态框*@
        <div class="modal fade" id="modalAirport">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">新增三字码</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="frmAirport">
                            @* 隐藏域  重置按钮*@
                            <input type="reset" hidden />
                            @*隐藏域  修改时存放主键ID*@
                            <input type="hidden" name="airportID" />

                            <div class="form-group row">
                                <label for="" class="col-form-label text-right col-3">三字代码 :</label>
                                @*使用正则表达式验证数据*@
                                <input type="text" class="form-control col-7" name="airportCode" onkeyup='value=value.replace(/[^A-Z]/g,"")'>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-right col-3 ">机场名称 : </label><!--验证中文Unicode 字母大小写-->
                                <input type="text" class="form-control col-7" name="airportName" onblur='value = value.replace(/[^\u4e00-\u9fa5A-Za-z]/g, "")'>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-right col-3 ">城市名称 : </label>
                                <!---->
                                <input type="text" class="form-control col-7" id="cityName" name="cityName" onblur='value = value.replace(/[^\u4e00-\u9fa5A-Za-z]/g, "")'>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-right col-3 ">拼音码 : </label>
                                <input type="text" class="form-control col-7" id="pinyinName" name="pinyinName" disabled>
                            </div>
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-outline-primary mr-2" onclick="saveAirportInfor()">确定</button>
                                <button type="button" class="btn btn-outline-secondary ml-2" data-dismiss="modal">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/js/pinyin.js"></script>


    <script>
        var layer, layuiTable;//定义全局变量存放layui的模块
        var isInsert;//用于标识新增 还是 修改  true:新增 ,false 修改
        var tabAirport;

        $(function () {
            //加载layui的模块
            layui.use(['layer', 'table'], function () {
                layer = layui.layer;
                layuiTable = layui.table;

                //执行渲染
                tabAirport=layuiTable.render({
                    elem: '#tabAirport',//指定原始表格元素选择器（推荐id选择器）
                    //height: 315,//容器高度 ,如果不指定就是根据数据的多少自适应
                    url:"@Url.Content("~/SystemMaintenance/TCCMaintain/SelectAirport")",
                    cols: [[ //标题栏
                        {type:'numbers',title:'序号'},//序号列
                        //field 和数据字段对应, title显示的表头,width:指定列宽度,不知道就是自适应宽度
                        { field: 'airportID', title: 'airportID', hide: true },//hide:true 隐藏列
                        { field: 'airportCode', title: '三字码', width: 100, align:'center' },
                        { field: 'airportName', title: '机场名称' },
                        { field: 'cityName', title: '城市名称' },
                        { field: 'pinyinName', title: '城市拼音名' },
                        //自定义列
                        { title: '修改', templet: customUpdateCol, align: 'center', width: 70 },
                        { title: '删除', templet: customDeleteCol, align: 'center', width: 70 },
                    ]],
                    page: true,//开启分页
                    limit:5,//table初始化时每页显示的条数 (默认10)
                    limits: [5,10,15,20,25,30], //每页条数的选择项
                });
            });
        });


        //===自定义列的方法
        //自定义修改列
        function customUpdateCol(data) {//data : 一行的所有数据
            var airportID = data.airportID;//机场ID
            return '<i class="icon-note text-warning" onclick="openUpdate(' + airportID + ')"></i>';
        }

        //自定义删除列
        function customDeleteCol(data) {
            var airportID = data.airportID;//机场ID
            return '<i class="ft-x fontweight" onclick="deleteAirport(' + airportID + ')"></i>';
        }


        //==打开新增模态框
        function openInsertModal() {
            //设置新增的标识
            isInsert = true;
            //重置表单
            $('#frmAirport [type="reset"]').click();
            //设置model标题
            $("#modalTitle").text("新增三字码");
            //显示模态框
            $("#modalAirport").modal('show');
        }

//-------------------------------------------打开模态框向后台获取数据并回填到页面
        function openUpdate(airportID) {
            //alert(airportID);
            //设置修改的标识
            isInsert = false;
            //重置表单
            $('#frmAirport [type="reset"]').click();
            //设置model标题
            $("#modalTitle").text("修改三字码");
            //====回填被修改的机场数据
            $.post("@Url.Content("~//SystemMaintenance/TCCMaintain/SelectAirportByID")",
                {
                    airportID: airportID,
                },
                function (jsonData) {
                    if (jsonData != null) {
                        //回填数据
                        $('#frmAirport [name="airportID"]').val(jsonData.airportID);//机场ID !!作为修改数据时的条件
                        $('#frmAirport [name="airportCode"]').val(jsonData.airportCode.trim());//三字码
                        $('#frmAirport [name="airportName"]').val(jsonData.airportName.trim());//机场名称
                        $('#frmAirport [name="cityName"]').val(jsonData.cityName.trim());//城市名称
                        $('#frmAirport [name="pinyinName"]').val(jsonData.pinyinName.trim());//城市拼音名称

                        //显示模态框
                        $("#modalAirport").modal('show');
                    } else {
                        layer.alert("参数异常");
                    }
                });
        }

        //===确定按钮点击事件 -保存三字码信息(机场信息)
        function saveAirportInfor() {
            //==获取参数
            var airportCode = $('#frmAirport [name="airportCode"]').val();//三字码
            var airportName = $('#frmAirport [name="airportName"]').val();//机场名称
            var cityName = $('#frmAirport [name="cityName"]').val();//城市名称
            var pinyinName = $('#frmAirport [name="pinyinName"]').val();//城市拼音名称

            //==验证数据
            if(airportCode!=undefined && airportCode!="" &&
                airportName!=undefined && airportName!="" &&
                cityName!=undefined && cityName!="" &&
                pinyinName != undefined && pinyinName != "") {
                //检查三字码的位数
                if (airportCode.length == 3) {

                    //==发送请求到控制器
                    if (isInsert) {
                        //===新增的保存
                        //打开加载层
                        var layerIndex = layer.load();
                        //发送请求
                        $.post("@Url.Content("~/SystemMaintenance/TCCMaintain/InserAirport")",
                            {
                                airportCode: airportCode, //三字码
                                airportName: airportName,//机场名称
                                cityName: cityName,//城市名称
                                pinyinName: pinyinName//城市拼音名称
                            },
                            function (msg) {
                                //关闭加载层
                                layer.close(layerIndex);

                                if (msg.State) {
                                    //关闭模态框
                                    $("#modalAirport").modal('hide');
                                    //刷新table
                                    tabAirport.reload({
                                        page: {
                                            curr: 1 //重新从第 1 页开始
                                        }
                                    });
                                    layer.alert(msg.Text, { icon: 1 });
                                } else {
                                    layer.alert(msg.Text, { icon: 2 });
                                }
                            });
                    } else {
                        //==修改的保存
                        //获取修改机场的主键ID
                        var airportID = $('#frmAirport [name="airportID"]').val();//机场ID
                        if (airportID!=undefined && airportID!="" && airportID>0) {
                            //==发送请求
                            var layerIndex = layer.load();
                            //发送请求
                            $.post("@Url.Content("~/SystemMaintenance/TCCMaintain/UpdateAirport")",
                                {
                                    airportID:airportID,//机场ID
                                    airportCode: airportCode, //三字码
                                    airportName: airportName,//机场名称
                                    cityName: cityName,//城市名称
                                    pinyinName: pinyinName//城市拼音名称
                                },
                                function (msg) {
                                    //关闭加载层
                                    layer.close(layerIndex);

                                    if (msg.State) {
                                        //关闭模态框
                                        $("#modalAirport").modal('hide');
                                        //刷新table
                                        tabAirport.reload();

                                        layer.alert(msg.Text, { icon: 1 });
                                    } else {
                                        layer.alert(msg.Text, { icon: 2 });
                                    }
                                });
                        } else {
                            layer.alert("机场信息异常,请稍后再试");
                        }
                    }

                } else {
                    layer.alert("三字码位数必须为3,请检查");
                }
            } else {
                layer.alert("请填写完整");
            }
        }



        //删除机场数据
        function deleteAirport(airportID) {
            //alert(airportID);
            layer.confirm('您确定要删除该机场吗?', { icon: 3, title: '提示' }, function (index) {
                //do something  点击确定按钮时执行的代码
                layer.close(index);//关闭自身(当前这个询问框)

                //发送请求到控制器
                //打开加载层
                var layerIndex = layer.load();
                //请求
                $.post("@Url.Content("~/SystemMaintenance/TCCMaintain/DeleteAirportByID")",
                    {
                        airportID: airportID
                    },
                    function (msg) {
                        //关闭加载层
                        layer.close(layerIndex);

                        if (msg.State) {
                            //刷新table
                            tabAirport.reload({
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            });
                            layer.alert(msg.Text, { icon: 1 });
                        } else {
                            layer.alert(msg.Text, { icon: 2 });
                        }
                    });
            });
        }


        //========
        //将城市名称转为拼音名称
        $("#cityName").on("change keyup keydown blur", function () {
            //获取输入的城市名称
            var cityName = $(this).val();
            //去除最后的"市"字
            if (cityName.endsWith("市")) {
                cityName = cityName.substr(0, cityName.length - 1);
            }
            //中文转拼音
            var pinyinName = pinyin.getFullChars(cityName);
            //显示拼音
            $("#pinyinName").val(pinyinName);
        });

        //避免三字码位数大于3
        $('#frmAirport [name="airportCode"]').blur(function () {
            var airportCode = $(this).val();
            if (airportCode.length > 3) {
                airportCode = airportCode.substr(0, 3);
                $(this).val(airportCode);
            }

        });
    </script>
</body>
</html>
